<h3>Change password</h3>
<p ng-class="{error: !success, success: success}" ng-show="success!=null">
    [[ successMessage ]]
</p> 
<form name="changePasswordForm">
    <label for="changePassword_current">Current password</label>
    <input id="changePassword_current" type="password"
           ng-model="currentPassword" required>
    <label for="changePassword_new">New password</label>
    <!-- at least 8 characters, ascii only -->
    <!-- http://stackoverflow.com/questions/5185326/java-script-regular-expression-for-detecting-non-ascii-characters -->
    <input id="changePassword_new" type="password"
           ng-model="newPassword" name="newPassword" required
           ng-blur="newPasswordBlurred=true"
           ng-pattern="/^[\040-\176]{8,}$/">
    <i class="icon-warning-sign password"
       ng-show="newPasswordBlurred && changePasswordForm.newPassword.$invalid">
        &nbsp;&nbsp;at least 8 characters, please
    </i>
    <label for="changePassword_repeat">Repeat new password</label>
    <input id="changePassword_repeat" type="password"
           ng-model="repeatPassword" required
           ng-blur="repeatPasswordBlurred=true">
    <i class="icon-warning-sign password"
       ng-show="repeatPasswordBlurred && !passwordsMatch()">
        &nbsp;&nbsp;passwords do not match
    </i>
    <br>
    <button ng-click="changePassword()"
            ng-disabled="changePasswordForm.$invalid || !passwordsMatch()">
        submit
    </button>
</form>
