<!--

TODO: the "static display then swap with dynamic controls" stuff worked great,
but I didn't dream big enough. Instead of just doing it on the select menu, I
should do with the whole tbody or tr.

-->
<tr bindonce ng-repeat="session in sessions"
    bo-class="{uploaded_by_admin: user.uploaded_by_admin}"
    ng-class="{warning:!user.certified && classroom.roster_complete && !hasMWN}">

    <!-- the rowspan expression here is a hack to get around the fact that -->
    <!-- angular doesn't allow if/thens in expressions; it turns a -->
    <!-- boolean into a 0 or a 1 and generates a rowspan of 1 or 2 -->
    <td rowspan="2" class="select">
        <input type="checkbox" ng-model="$parent.isSelected">
    </td>
    <td rowspan="2" class="first_name">
        <input type="text" ng-model="user.first_name">
        <!-- Use the keyboard shortcut "p p i", defined in
             keyboardShortcuts.js, to show this. -->

        <span class="id-display" style="display: none" bo-text="user.id">
        </span>
    </td>
    <td rowspan="2" class="last_name">
        <input type="text" ng-model="user.last_name">
    </td>
    <td rowspan="2" class="student_id">
        <input type="text" ng-model="user.student_id"
               bo-disabled="user.uploaded_by_admin">
    </td>
    <td rowspan="2" class="certified">
        <select styled-select ng-model="user.certified"
                ng-disabled="hasMWN"
                ng-options="user.certifiedLabel(x) for x in [true, false]">
        </select>
    </td>
    <td class="session_progress">
        <span bo-text="session.activity_ordinal"></span>:
        <span bo-text="user.progressLabel(session.activity_ordinal)"></span>
    </td>
    <td class="status_code">
<!--         <div class="styled-select" swappable-status-select
             activity-ordinal="session.activity_ordinal">
            <span bo-text="user.codeLabel(session.activity_ordinal)"
                  class="fake-select"></span>
            <i></i>
        </div>
 -->
        <select styled-select
                ng-model="user['s' + session.activity_ordinal + '_status_code']"
                ng-options="o.id as o.label group by o.group for o in statusCodes | orderBy:['group', 'label']">
        </select>

        <div ng-show="user['s' + session.activity_ordinal + '_status_code'] == 'MWN' && !user['s' + session.activity_ordinal + '_merge_id']"
              ng-click="openDialog(session.activity_ordinal)" class="pseudolink">
            <i class="icon-warning-sign"></i>Specify with whom to merge
        </div>
        <div ng-show="user['s' + session.activity_ordinal + '_merge_id']"
              ng-click="openDialog(session.activity_ordinal)" class="pseudolink">
            [[ mergeTargets[session.activity_ordinal].first_name ]] [[ mergeTargets[session.activity_ordinal].last_name ]]
        </div>

    </td>
</tr>

