<h3>Details for [[classroom.name]]</h3>
<div>
    <label>
        Class Name
        <br>
        <input type="text" ng-model="classroom.name" placeholder="class name">
    </label>
    <label>
        Teacher name
        <br>
        <input type="text" ng-model="classroom.teacher_name"
               placeholder="teacher name">
    </label>
    <label>
        Teacher email
        <br>
        <input type="email" ng-model="classroom.teacher_email"
               placeholder="teacher email">
    </label>
    <label>
        Unique Section ID
        <br>
        <input type="text" ng-model="classroom.course_id"
               placeholder="section ID">
    </label>

<!--     <span ng-show="adminOptions=='true'">
        <label>
            Notes
            <br>
            <textarea ng-model="classroom.anomaly_notes"
                      placeholder="Anomaly notes..."></textarea>
        </label>
    </span>
 -->
</div>
<hr>
