{% extends "p2-base.html" %}

{% block title %}
CC10 - Community College Student Perspectives (In-Class)
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">CC10 - Community College Student Perspectives (In-Class)</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/cc10_students_complab.jpg"></p>

    <br>
    <h2>Free as a part of a program evaluation.</h2>
    <h2>Registration for this academic year has closed. Submit an inquiry to learn about programs starting this fall.</h2>
    <br>
    
    <h3>Limiting Beliefs Hold Students Back</h3>

    <p>Community college is an important pathway to social mobility, yet many students arrive unprepared for college level coursework - often due to a history of academic failure. Nationally, 60% of community college students test into at least one developmental class. Many of these students hold limiting beliefs about their own abilities and are often uncertain about the value of pursuing a post-secondary education.</p>

    <h3>Changing Limiting Beliefs Improves Achievement</h3>

    <p>When students don’t believe they are capable of succeeding academically and when they don’t see the purpose of their school work, they are less resilient in the face of challenges.  Many give up quickly when faced with a setback or may simply avoid enrolling in challenging but essential courses like mathematics.</p>

    <p>Our Community College Student Perspectives Program helps students realize that they can succeed and why it matters. By doing so, it raises students' motivation and achievement.</p>
    

        <div class="one-third infobox">
            <h3>Schools</h3>
          <p>Inquire about participating. See <a href="https://app.box.com/shared/static/m3p1wttam2g1r5euwnka.pdf" target="_blank">participation requirements</a>.</p>
        
           <p><a class="button large" href="https://www.perts.net/main/inquire.php?program=Community%20College%20Perspectives,%20In-Class%20(CC10)">School Inquiry &raquo;</a></p>
        </div>
        
        <div class="one-third infobox last">
            <h3>Teachers</h3>
          <p>Create an account if your school is signed up.</p>
           <p><a class="button large" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=605">Sign Up Here &raquo;</a></p>
        </div>
    
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1">
            <h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 500 students who will participate during a regularly scheduled class.</li>
              <li>Designate a school administrator or faculty who will act as the school coordinator. This person will be our point of contact throughout the school’s participation.</li>
              <li>Provide us with the academic records of participating students at the end of the semester. We will use these records to analyze the effects of the program. We will then send participating faculty and administrators a report summarizing the aggregated results.</li>
            </ol>
            <h5>What are requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of the two sessions are provided to teachers when they schedule participation. Participation takes 45 minutes for each session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
            <h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
            <h5>Can students participate as homework?</h5>
            <p>Yes! If you would like more information on the homework option please <a href="cc11">click here</a>.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
<div class="widget">
        <h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>If your school is already participating, click here to create a teacher account and schedule your classes.</li></ul>
        <p><a class="button medium" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=605">Sign Up Here &raquo;</a></p>
    </div>

<div class="widget">
        <h6 class="widget-title">CC10 Documents</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/m3p1wttam2g1r5euwnka.pdf" target="_blank">Printable Program Description</a></li>
        </ul>
    </div>

<div class="widget">
        <h6 class="widget-title">CC10 At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">Community college students</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Two 45 minute sessions</div>
        </div>
        
    </div>
    
    
</aside>

{% endblock %}