{% extends "p2-base.html" %}

{% block title %}
CC8 - Community College Student Perspectives (Homework)
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">CC8 - Community College Student Perspectives (Homework)</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/placeholder.jpg"></p>
    <div class="infobox">
      <h3>Apply to Participate</h3>
      <p>The PERTS Lab at Stanford University offers a 90 minute, web-based program to students of passionate college educators. This program is designed to raise the motivation and achievement of community college students. Our brief, online programs have improved grades and reduced the racial achievement gap at multiple schools.</p>
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">Get Started &raquo;</a></p>
    </div>
    <h3>How does the Exam Experience Program work?</h3>
    <p>Many students hold beliefs that distract their attention and undermine their motivation. The Student Perspectives Program is designed to overturn these beliefs. When it does, it can boost students' motivation and achievement. For example, some students might think, "Why should I try in my classes? What's the point?" One part of the program helps them realize how school can help them reach their goals.</p>
    <p>A second component teaches students that they can grow their intelligence and abilities through effort. It challenges the belief that "I could never be good at this, no matter how hard I tried." Students work through an online module that explains that intelligence is malleable. When students realize they can increase their intelligence and abilities through effort, they can become more personally invested in their success.</p>
    
    
    <hr>
    <ul class="tabs-nav">
    	<li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
    	<div class="tab-content" id="tab1">
        	<h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 200 students who will participate.</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator. This person will be our point of contact throughout the school's participation. </li>
              <li>The School Coordinator will also provide us with the academic records of participating students. We will use these records to analyze the effects of the program. We will then send participating teachers and administrators a report summarizing the results.</li>
            </ol>
            <h5>What are the requirements for faculty?</h5>
            <ol>
              <li>Faculty will coordinate with the School Coordinator to schedule access to a computer lab.</li>
              <li>Faculty then use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, faculty will take their students to a school computer lab. Instructions for each of two sessions will be provided to faculty when they schedule participation. Participation takes 45 minutes per session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
        	<h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
            <h5>Can students participate during class time?</h5>
            <p>Yes! Delivery of our programs through a homework assignment is a new method of participation, and we cannot promise this method will be as effective as in-class participation. If you would like more information on the in-class option please <a href="cc6">click here</a>.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
<div class="widget">
    	<h6 class="widget-title">Class Registration</h6>
        <p>This program is not currently taking new participants during Spring Semester 2013.</p>
         <p>If you would like to participate in Fall 2013, please fill out an inquiry form for your school <a href="https://www.perts.net/main/inquire.php">here</a>.</p>
    </div>

<div class="widget">
    	<h6 class="widget-title">CC6 Documents</h6>
        <ul class="categories">
        	<li><a href="https://www.box.com/shared/static/17e5f4cb2ac8446a7978.pdf" target="_blank">Printable Program Description</a></li>
            <li><a href="https://www.box.com/shared/static/25f36f58abc010d9c679.pdf" target="_blank">Teacher Invitation</a></li>
        </ul>
    </div>

<div class="widget">
    	<h6 class="widget-title">CC8 At a Glance</h6>
        
        <span class="acc-trigger">
			<a href="#">Participants</a>
		</span>
		<div class="acc-container">
			<div class="content">Community college students</div>
		</div>
        <span class="acc-trigger">
			<a href="#">Duration</a>
		</span>
		<div class="acc-container">
			<div class="content">Two 45 minute sessions</div>
		</div>
        
    </div>
    
</aside>

{% endblock %}