{% extends "p2-base.html" %}

{% block title %}
CP2 - Classroom Practices
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">CP2 Classroom Practices - Growth Mindset for Math</h1>
</header>
<section id="main">
    <h2>Learn concrete practices for instilling a growth mindset in your math students.</h2>
    <br>
    <center>
        <iframe width="640" height="360" src="//www.youtube.com/embed/3auyGgYvjkw?rel=0" frameborder="0" allowfullscreen></iframe>
    </center>
    <br>
    <h2>Free as a part of a program evaluation.</h2>
    <h2>Registration for this academic year has closed. Submit an inquiry to learn about programs starting this fall.</h2>
    <br>

    <br>
    
    <h3>About the Program</h3>
    <p>
        Designed by expert in math education, Jo Boaler, experts in motivation research, Carol Dweck and Greg Walton, and experts in online mindset interventions, Dave Paunesku and Carissa Romero, this online program pairs videos and classroom activities for teachers with a brief student lesson. <a href="http://www.perts.net/home/about.php#results">Past research</a> demonstrates that the student lesson instills a growth mindset and improves achievement. 
    </p>
    <p>
        All participating teachers will receive a report about their students’ mindsets and gain free access to the program next year. 
    </p>

    <h3>Time commitment</h3>
    <p>
        The teacher program consists of five 20-minute sessions and can be done at teachers’ convenience. The student program consists of one 45-minute session and one 15-minute session and should be completed on computers during school hours. 
    </p>
   
   <h3>About the Program Evaluation</h3>
    <p>
        We are able to offer this program for free as a part of a program evaluation. Some teachers and students who sign up will serve as a comparison group this year, but will gain full access to the program next year.  
    </p>

    <h3>Benefits of Participation</h3>
    <ul>
        <li>Access to exclusive videos by Jo Boaler and Carol Dweck</li>
        <li>A student program with demonstrated success</li>
        <li>Downloadable activities to try in your math classroom</li>
        <li>Activities are in line with the Common Core</li>
        <li>Gets students ready for deeper learning</li>
        <li>A report on your students’ mindsets (for everyone&mdash;even the comparison group!)</li>
    </ul>
    
    <p></p>  
        <div class="one-third infobox">
            <h3>Schools</h3>
          <p>Inquire about participating.</p>
          
           <p><a class="button large" href="https://www.perts.net/main/inquire.php?program=Classroom%20Practices%20(CP2)">
            School Inquiry &raquo;
            </a></p>
        </div>
        
        <div class="one-third infobox last">
            <h3>Teachers</h3>
          <p>Create an account.</p>
           <p><a class="button large" href="https://www.perts.net/cp2-register">Sign Up Here &raquo;</a></p>
        </div>
    
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1" style="display: block;">
            <h5>What are requirements for schools?</h5>
            <p>These are the requirements for whole school participation. For individual teachers, see the teacher requirements below.</p>
            <ol>
              <li>Enroll 75% of middle or high school math teachers to particiapte in the professional development program.</li>
              <li>Designate a school administrator (preferably not a math teacher) who will act as the School Coordinator. This person will be our point of contact throughout the school's participation.</li>
              <li>Provide us with the academic records of participating students at the end of the semester. We will use these records to analyze the effects of the program.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <p>These teacher requirements apply to whole school participation and individual teacher participation.</p>
            <p><i>Student Sessions</i></p>
            <ol>
              <li>Teachers use a simple, online form to schedule when their class(es) will participate in the program. This process takes 5-15 minutes. NOTE: Teachers only need to have ONE class complete the student component.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for the two sessions are provided to teachers when they schedule participation. Participation takes 45-minutes for the first session and 15-minutes for the follow-up session. 
                Session 1 must take place before teachers begin their Professional Development sessions, and session 2 must take place after all teacher Professional Development sessions are complete. This is important because students' sessions include a pre- and post-survey that will help us measure the effectiveness of the program.</li>
            </ol>
            <p><i>Professional Development Sessions</i></p>
            <ol>
                <li>Teachers use the same online form to schedule when they will participate in their Professional Development sessions. These dates are flexible and teachers are free to reschedule if they need to. All modules must be completed before the end of the academic year.</li>
                <li>On the scheduled days, teachers sign-in online and complete their sessions. Each session takes between 20-45 minutes.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
            <h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>Click here to create a teacher account and get started.</li></ul>
         <p><a class="button medium" href="https://www.perts.net/cp2-register">Sign Up Here &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>Awesome! We all need to learn to think this way, not just our students, but faculty as well.<br /><br />-Participating Teacher</p>
        </blockquote>   
    </div>    

    <div class="widget">
        <h6 class="widget-title">CP2 Documents</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/r8eh09fy0c7jkrjj8b2z.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
    <div class="widget">
        <h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
            <li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
        <h6 class="widget-title">CP2 At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">Middle and high school students and math teachers</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Two-to-five Professional Development sessions (20-45 minutes each), and two Student sessions (one 45-minute and one 15-minute).</div>
        </div>
        
    </div>
    
    
</aside>

{% endblock %}
