{% extends "p2-base.html" %}

{% block title %}
HS4 - High School Exam Experience
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">HS4 - High School Exam Experience</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/placeholder.jpg"></p>
    <div class="infobox">
      <h3>Apply to Participate</h3>
      <p>The PERTS Lab at Stanford University is seeking passionate educators to participate in a web-based intervention program. In previous research, our brief programs have improved participating students' grades, test scores, and attitudes towards school. The Exam Experience Program is 90 minutes long and is designed to raise high school students' motivation and achievement by changing the way they think about important tests.</p>
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">Get Started &raquo;</a></p>
    </div>
    <h3>How does the Exam Experience Program work?</h3>
    <p>Many students hold beliefs that distract their attention and undermine their motivation. The Exam Experience Program is designed to overturn these beliefs. When it does, it can boost students' motivation and achievement. For example, many students "choke" during important, high-stakes tests, even students with high ability and great potential. The current program specifically targets performance on these kinds of tests. It aims to alleviate the threat that many students struggle with by helping students think more positively about high-stakes tests and about their emotions related to these tests.</p>
    
    
    <hr>
    <ul class="tabs-nav">
    	<li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
    	<div class="tab-content" id="tab1">
        	<h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 100 students who will take the SATs within the next year. If your school doesn't have enough students, you could consider partnering with another school.</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator. This person will be our point of contact throughout the school's participation. The School Coordinator will also provide us with the academic records of participating students. We will use these records to analyze the effects of the program. We will then send participating teachers and administrators a report summarizing the results.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of two sessions are provided to teachers when they schedule participation. Participation takes 30 minutes for the first session and 60 minutes for the second.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
        	<h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
<div class="widget">
    	<h6 class="widget-title">Class Registration</h6>
        <p>This program is not currently taking new participants during Spring Semester 2013.</p>
         <p>If you would like to participate in Fall 2013, please fill out an inquiry form for your school <a href="https://www.perts.net/main/inquire.php">here</a>.</p>
    </div>

<div class="widget">
    	<h6 class="widget-title">HS4  Documents</h6>
        <ul class="categories">
        	<li><a href="https://www.box.com/shared/static/0c38bdcd68d166573bd1.pdf" target="_blank">Printable Program Description</a></li>
            <li><a href="https://www.box.com/shared/static/f3f1c049b8e5ed79794f.pdf" target="_blank">Teacher Invitation</a></li>
        </ul>
    </div>
    
    <div class="widget">
    	<h6 class="widget-title">HS4 At a Glance</h6>
        
        <span class="acc-trigger">
			<a href="#">Participants</a>
		</span>
		<div class="acc-container">
			<div class="content">High school students who will take SATs within the next year</div>
		</div>
        <span class="acc-trigger">
			<a href="#">Duration</a>
		</span>
		<div class="acc-container">
			<div class="content">One 30 minute session and one 60 minute session</div>
		</div>
        
    </div>

    
    
</aside>

{% endblock %}