{% extends "p2-base.html" %}

{% block title %}
HS6 - High-Stakes Exam Experience Program
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">HS6 - High-Stakes Exam Experience</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/hs6_bubble_test.jpg"></p>
    <h3>Test anxiety can hurt test performance</h3>
    <p>	Many students get anxious during high-stakes tests. 
		Some even get anxious about getting anxious because they think their 
		nervousness might make them 
		choke at a critical moment. Test anxieties can distract 
		students' attention and reduce their test scores.</p>
	<h3>How does this program help?</h3>
    <p>This program helps students think about their text anxiety in a different way.
		It teachers them that nervousness can actually enhance performance if channeled properly.
		When students understand that nervousness is the body’s way of preparing for a challenge
		- that the increase in adrenaline can even help them perform better - 
		they are better able to focus on the task at hand.</p>
    <p>Another component of the program uses expressive writing to reduce test anxiety directly. 
		Giving students the opportunity to write about their worries before a high 
		stakes test provides them with the opportunity to reevaluate their concerns. 
		It decreases the need to continue thinking about the possible negative 
		consequences of poor performance and frees otherwise anxious students to 
		focus all of their attention on the exam.</p>
	<h3>What do students experience?</h3>
    <p>Students complete a 30-45 minute online module immediately before a high-stakes
		test or practice test. The module includes survey questions, short reading passages, and targeted writing exercises. 
		Many students report enjoying the experience and finding the activities interesting.</p>

	
	<div class="infobox one-third">
		<h3>Schools</h3>
      <p>Apply to participate. See participation <a href="https://www.box.com/shared/static/1487q1e7j18d8mlqn6gm.pdf">requirements</a>.</p>
	
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">School Application &raquo;</a></p>
    </div>
	
    <div class="infobox one-third last">
		<h3>Teachers</h3>
		<p>Create an account if your school is signed up.</p>
		<p><a class="button large" href="#">Coming Soon &raquo;</a></p>
    </div>


    
    <hr>
    <ul class="tabs-nav">
    	<li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
    	<div class="tab-content" id="tab1">
        	<h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 100 students who will participate.</li>
              <li>Designate a school administrator or teacher to act as the 
				  School Coordinator. This person will be our point of contact 
				  throughout the school's participation. The School Coordinator 
				  will also provide us with the academic records of participating
				  students at the end of the semester. We will use these records
				  to assess the effectiveness of the program.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of the two sessions are provided to teachers when they schedule participation. Participation takes 30 minutes for the first session and 15 minutes for the optional follow-up session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
        	<h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
  <div class="widget">
    	<h6 class="widget-title">Class Registration</h6>
        <p>If your school is already signed up, register your class to participate in the HS6 program.</p>
         <p><a class="button medium" href="#">Coming Soon &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>Most people get nervous on a test, I know for one that I do. I used to always think that something was wrong with me... In actuality, being nervous is a very helpful tool that can help you focus.<br /><br />-9th Grade Student</p>
        </blockquote>   
    </div>   
	<div class="widget">
    	<h6 class="widget-title">HS6  Documents</h6>
        <ul class="categories">
        	<li><a href="https://www.box.com/shared/static/1487q1e7j18d8mlqn6gm.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>

	<div class="widget">
		<h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
			<li><a href="http://www.sciencedirect.com/science/article/pii/S0022103109002200" target="_blank">Jamieson et al.</a></li>
			<li><a href="http://www.sciencemag.org/content/331/6014/211.short" target="_blank">Ramirez &amp; Beilock</a></li>
        </ul>
    </div>

	
<div class="widget">
    	<h6 class="widget-title">HS6 At a Glance</h6>
        
        <span class="acc-trigger">
			<a href="#">Participants</a>
		</span>
		<div class="acc-container">
			<div class="content">100+ high school students preparing for a high-stakes exam</div>
		</div>
        <span class="acc-trigger">
			<a href="#">Duration</a>
		</span>
		<div class="acc-container">
			<div class="content">One 30 minute session and one optional 15 minute session.</div>
		</div>
        
    </div>
    
    
</aside>

{% endblock %}