{% extends "p2-base.html" %}

{% block title %}
HS7 - National Pilot Study (High School)
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">HS7 - National Mindset Pilot (High School)</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/hs7_complab.jpg"></p>

    <h3>Teaching Adaptive Mindsets Improves Achievement</h3>

    <p>Programs that teach students to have <i> adaptive mindsets</i> have recently received increased attention among educators and policy makers. These programs help students think about school in ways that help them stay motivated and engaged, even when coursework is challenging. In addition to being effective at improving students' motivation and achievement, they are also brief and easy to administer.</p>
    
    <h3>PERTS Teaches Adaptive Mindsets on a National Scale</h3>

    <p>Because of the promise of mindset programs, the White House Office of Technology and Science Policy recently hosted a convening to explore ways to apply mindset programs more broadly. An important outcome of this meeting was a plan to conduct a national study that will deliver mindset programs in a large, nationally representative sample. PERTS has expertise in delivering mindset programs across the nation, and we will take a lead in conducting the national study. The National Mindset Pilot is the first step.</p>
    
    <p> The National Mindset Pilot will teach two adaptive mindsets: 1) a growth mindset—the belief that intelligence can grow, and 2) a sense-of-purpose—an understanding of why school matters to students’ personal goals. By doing so, this program will help students answer the questions 1) Can I do it? and 2) Does it matter?</p>

        <div class="one-third infobox">
            <h3>Schools</h3>
          <p>Inquire about participating. See <a href="https://app.box.com/shared/static/c0fmh4ddq4rzr788jkj3.pdf" target="_blank">participation requirements</a>.</p>
          
           <p><a class="button large" href="https://www.perts.net/main/inquire.php">School Inquiry &raquo;</a></p>
        </div>
        
        <div class="one-third infobox last">
            <h3>Teachers</h3>
          <p>Create an account if your school is signed up.</p>
           <p><a class="button large" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=672">Sign Up Here &raquo;</a></p>
        </div>
    
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1">
            <h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 150 9th and 10th grade students who will participate.</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator.  This person will be our point of contact throughout the school's participation.</li>
              <li>Provide us with the academic records of participating students at the end of the semester.  We will use these records to analyze the effects of the program.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of the three sessions are provided to teachers when they schedule participation. Participation takes 45 minutes for the first two sessions and 20 minutes for the follow-up session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
            <h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>Click here to create a teacher account and schedule your classes to participate.</li></ul>
         <p><a class="button medium" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=672">Sign Up Here &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>This program really helped me think about my learning environment and where I see myself in 5 years.<br /><br />-High School Student</p>
        </blockquote>   
    </div>    

    <div class="widget">
        <h6 class="widget-title">HS7  Documents</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/c0fmh4ddq4rzr788jkj3.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
    <div class="widget">
        <h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
            <li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
        <h6 class="widget-title">HS7 At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">High school students in grades 9 and 10</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Two 45 minute sessions and one 20 minute follow-up session</div>
        </div>
        
    </div>
    
    
</aside>

{% endblock %}