{% extends "p2-base.html" %}

{% block title %}
HS8 - Understanding Student Perspectives
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">HS8 - Understanding Student Perspectives</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/hs8_studying.png"></p>

    <h3>Connecting the Purpose of School With Personally Meaningful Goals</h3>

    <p>Many students are held back from reaching their full academic potential because they hold maladaptive beliefs about school. These beliefs can distract their attention and undermine their motivation. When students don’t see the purpose of their schoolwork they are more likely to give up in the face of setbacks and to study less. Research demonstrates that changing maladaptive beliefs leads students to become more resilient learners who try harder and do better over time.</p>

    <h3>Why Should We Try to Change Students’ Mindset About Purpose?</h3>

    <p>Having a sense of purpose motivates people to persist, even when the going gets tough. Yet, many students fail to see the links between their course material and their personal goals. The Understanding Student Perspectives program helps students understand how their schoolwork is relevant to their own lives and to a sense of purpose – to goals that encompass a commitment to causes that transcend the self. By doing so, it can raise students’ motivation and achievement.</p>

        <div class="one-third infobox">
            <h3>Schools</h3>
          <p>Inquire about participating. See <a href="https://app.box.com/shared/static/xfrpbwpzztyxq3k3a0h4.pdf" target="_blank">participation requirements</a>.</p>
          
           <p><a class="button large" href="https://www.perts.net/main/inquire.php?program=Understanding%20Student%20Perspectives%20(HS8)">School Inquiry &raquo;</a></p>
        </div>
        
        <div class="one-third infobox last">
            <h3>Teachers</h3>
          <p>Create an account if your school is signed up.</p>
           <p><a class="button large" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=675">Sign Up Here &raquo;</a></p>
        </div>
    
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1">
            <h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 150 5th - 10th grade students who will participate during a regularly scheduled class.</li>
              <li>Designate a school administrator or teacher who will act as the school coordinator. This person will be our point of contact throughout the school’s participation.</li>
              <li>Provide us with the academic records of participating students at the end of the semester. We will use these records to analyze the effects of the program.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of the three sessions are provided to teachers when they schedule participation. Participation takes 45 minutes for the first two sessions and 20 minutes for the follow-up session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
            <h5>What should I tell my students about this program?</h5>
            <p>You can describe the program as a study about how students learn and what schools can do to make school a better place for them. It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students’ privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>Click here to create a teacher account and schedule your classes to participate.</li></ul>
         <p><a class="button medium" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=675">Sign Up Here &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>It really made me think about how I actually think in some situations. It’s great to have a chance to say how we really feel about things.<br /><br />-High School Student</p>
        </blockquote>   
    </div>    

    <div class="widget">
        <h6 class="widget-title">HS8  Documents</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/xfrpbwpzztyxq3k3a0h4.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
    <div class="widget">
        <h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
            <li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
        <h6 class="widget-title">HS8 At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">5th - 10th grade students</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Three 45-minute sessions</div>
        </div>
        
    </div>
    
    
</aside>

{% endblock %}