{% extends "p2-base.html" %}

{% block title %}
MS4 - Middle School Student Perspectives Program
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">MS4 - Middle School Perspectives Program</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/ms4_student_smiling.jpg"></p>
    <h3>If things can't change, they can't improve</h3>
    <p>	Some students think their abilities 
		are fixed. They don't understand that academic success comes from studying hard and 
		adopting good learning strategies. 
		If something doesn't come easily to them right away, they assume they're bad at it and will
		always be bad at it. So they get frustrated and give up when 
		they encounter something difficult.
	</p>
	
	<h3>The ability to change oneself is empowering</h3>
	<p>
		The Middle School Perspectives Program teaches students that they're in control of their academic success.
		One part of the program explains that they can grow their intelligence and abilities
		through effort. This knowledge makes students more likely to persist in the 
		face of challenging academic tasks that they would otherwise perceive as beyond their abilities.
		A second part of the program helps students learn how to control their emotions with targeted strategies. 
		When students are less distracted by negative emotions, they can
		better focus their efforts on their schoolwork.</p>
   
    
		
	<div class="one-third infobox">
		<h3>Schools</h3>
      <p>Apply to participate. See participation <a href="https://www.box.com/shared/static/74cb9c02f3561a31cb5b.pdf">requirements</a>.</p>
	
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">School Application &raquo;</a></p>
    </div>
	
    <div class="one-third infobox last">
		<h3>Teachers</h3>
      <p>Create an account if your school is signed up.</p>
       <p><a class="button large" href="#">Coming Soon &raquo;</a></p>
    </div>

	
	
    <hr>
    <ul class="tabs-nav">
    	<li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
    	<div class="tab-content" id="tab1">
        	<h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 100 6th through 8th grade students who will participate.</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator.  This person will be our point of contact throughout the school's participation. The School Coordinator will also provide us with the academic records of participating students at the end of the semester.  We will use these records to analyze the effects of the program. We will then send participating teachers and administrators a report summarizing the aggregated results.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of three sessions are provided to teachers when they schedule participation. Participation takes 45 minutes for the first two sessions and 15 minutes for the follow-up session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
        	<h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
    	<h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>Click here to create a teacher account and schedule your classes to participate.</li></ul>
         <p><a class="button medium" href="#">Coming Soon &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>Never give up trying... If you’re not good at something just keep practicing.<br /><br />-6th Grade Student</p>
        </blockquote>   
    </div>    

	<div class="widget">
    	<h6 class="widget-title">MS4  Documents</h6>
        <ul class="categories">
        	<li><a href="https://www.box.com/shared/static/74cb9c02f3561a31cb5b.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
	<div class="widget">
    	<h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
        	<li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
			<li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
    	<h6 class="widget-title">MS4 At a Glance</h6>
        
        <span class="acc-trigger">
			<a href="#">Participants</a>
		</span>
		<div class="acc-container">
			<div class="content">Middle school students in grades 6-8</div>
		</div>
        <span class="acc-trigger">
			<a href="#">Duration</a>
		</span>
		<div class="acc-container">
			<div class="content">Two 45 minute sessions and one 15 minute follow-up session</div>
		</div>
        
    </div>

    
    
</aside>

{% endblock %}