{% extends "p2-base.html" %}

{% block title %}
MS6 - Middle School Transition Program
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">MS6 - Middle School Transition Program</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/middle_school_students.jpg"></p>

    <h3>Middle School: A Period of Transition</h3>

    <p>Many students entering middle school experience a decline in achievement and motivation as they adapt to more challenging classes and an increased workload. In addition to these new academic challenges, students must also navigate changing relationships and new, powerful emotions that often accompany the transition to adolescence. During this period, students experience more negative emotions and are more likely to be diagnosed with mood disorders. This decline in well-being can be especially acute for students who have maladaptive beliefs.</p>
    
    <h3>Changing Limiting Beliefs Improves Well-being</h3>

    <p>Some students believe that emotions are difficult to change. This “fixed mindset” prevents them from effectively working through negative and distracting emotions. These students are less likely to use adaptive strategies when unhelpful emotions arise.     Having a fixed mindset has been linked to more depressive symptoms and lower overall well-being.</p>
    
    <p>The Middle School Transition Program is designed to help students realize that they have the ability to change unhelpful emotions and to provide them with specific strategies to do so. By teaching students that they can change their emotions, students may increase their well-being and academic achievement.</p>

        <div class="one-third infobox">
            <h3>Schools</h3>
          <p>Inquire about participating. See <a href="https://app.box.com/shared/static/1iy5z9efaoz6z9x6te7b.pdf" target="_blank">participation requirements</a>.</p>   
          
           <p><a class="button large" href="https://www.perts.net/main/inquire.php">School Inquiry &raquo;</a></p>
        </div>
        
        <div class="one-third infobox last">
            <h3>Teachers</h3>
          <p>Create an account if your school is signed up.</p>
           <p><a class="button large" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=674">Sign Up Here &raquo;</a></p>
        </div>
    
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1">
            <h5>What are requirements for schools?</h5>
            <ol>
              <li>Enroll at least 150 middle school students who will participate.</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator.  This person will be our point of contact throughout the school's participation.</li>
              <li>Provide us with the academic records of participating students at the end of the semester.  We will use these records to analyze the effects of the program.</li>
            </ol>
            <h5>What are the requirements for teachers?</h5>
            <ol>
              <li>Teachers use a simple, online form to schedule when their classes will participate in the program. This process takes 5-15 minutes.</li>
              <li>At the scheduled times, teachers take their students to the school computer lab. Instructions for each of the three sessions are provided to teachers when they schedule participation. Participation takes 45 minutes for the first two sessions and 15 minutes for the follow-up session.</li>
            </ol>
        </div>
        <div class="tab-content" id="tab2">
            <h5>What should I tell my students about this program?</h5>
            <p>It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.</p>
            <h5>Why shouldn't I tell my students this program is meant to help them?</h5>
            <p>People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.</p>
            <h5>What about privacy?</h5>
            <p>We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.</p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h6 class="widget-title">Teacher Registration</h6>
        <ul class="arrow"><li>Click here to create a teacher account and schedule your classes to participate.</li></ul>
         <p><a class="button medium" href="https://www.perts.net/main/dashboard.php?dashboard=user_registration&level=user&page=teacher_registration&program_id=674">Sign Up Here &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p> It really made me think about how I actually think in some situations. It’s great to have a chance to say how we really feel about things. <br /><br />-8th Grade Student</p>
        </blockquote>   
    </div>    

    <div class="widget">
        <h6 class="widget-title">MS6  Documents</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/1iy5z9efaoz6z9x6te7b.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
    <div class="widget">
        <h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
            <li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
        <h6 class="widget-title">MS6 At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">Middle school students</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Two 45 minute sessions and one 15 minute follow-up session</div>
        </div>
        
    </div>
    
    
</aside>

{% endblock %}