{% extends "p2-base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<section id="main">
	<h1>About PERTS</h1>
	<p>
		PERTS is an applied research center at Stanford University. We work with <a href="about#team">leading experts</a> on academic motivation to raise student achievement on a large scale. In the process, we conduct research that enables us to improve our programs and to expand what is known about academic motivation.
	</p>

	<div class="small_space_break">&nbsp;</div>
	<h1>Skip to Section</h1>
	<p>
		<a href="#how">How do PERTS programs work?</a><br>
		<a href="#ongoing">Ongoing Projects</a><br>
		<a href="#results">Results &amp; Impact</a><br>
		<a href="#experiences">User Experiences</a><br>
		<a href="#team">Team</a><br>
		<a href="#partners">Partners</a><br>
		<a href="#press">Press</a><br>
	</p>

	<div class="big_space_break">&nbsp;</div>

    <h2>How do PERTS programs work?<a name="how">&nbsp;</a></h2>
    <img src="/static/home/img/perts_img/about_plant.jpg" />
        <p>
            To be successful, students must be motivated and resilient: They must choose to learn and to persist even when schoolwork is challenging. 

            <br><br>
			<a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Research shows</a> that students' academic mindsets&mdash;their beliefs about learning and about school&mdash;affect their motivation and resilience.

            Students with adaptive academic mindsets think about school and about their own abilities in fundamentally different ways from disengaged students: They understand why school is important; they trust their teachers and peers; and they understand that they can grow their abilities by working hard and by trying new strategies when they get stuck. Students who don't understand these things don't try as hard and give up quickly.
            <br><br>
             PERTS interventions target students' academic mindsets. They work to help students think about school in more adaptive ways that help them stay more motivated and resilient. In doing so, they can <a href="about#results">improve their academic outcomes</a>.
        </p>
    </div>
	<!-- Links -->
	<p>
	<a class="button large" href="about">Back to Top</a>
	<a class="button large" href="contact">Contact Us</a>
	<a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
	</p>
	
	<div class="big_space_break">&nbsp;</div>

    <h2>Ongoing PERTS Projects<a name="ongoing">&nbsp;</a></h2>
    <br>
    <p>
        <strong>Resources for Teachers</strong><br>

        
        To advance our goal of bridging mindset science and education practices, PERTS is partnering with k12 educators to undertake a user-driven design process that will result in open, online resources for educators. To learn more about available resources, visit our <a href="/resources">Resources</a> page.
        
        <br><br>

        <strong>Online Programs for Middle School and High School Students</strong><br>

        These are brief, evidence-based, online programs designed to help students learn to think about school in more adaptive ways. We work with schools to make these programs available to their students in their school computer lab or as homework.  See the <a href="programs">programs</a> page to learn more.
        
        <br><br>

        <strong>Online Programs for Community College Students</strong><br>

		 We are working with several community college networks to refine mindset programs for community college students. If these programs are successful, they will be made available after the evaluations are finished. Contact us if you would like your entire college system to participate in one of these program evaluations.
        
        <br><br>

        <strong>Reducing the Achievement Gap in College</strong><br>

        The <a href="/ctc">College Transition Consortium</a> is investigating how to use adaptive mindset interventions to reduce group-based achievement gaps in college. It is a partnership between researchers and administrators from multiple universities.</li>

        <br><br>

        <strong>Increasing Motivation in Online Learning Environments</strong><br>

         The <a href="challenge">Mindset Challenge</a> is bringing together online learning platforms and behavioral scientists to motivate students learning online.</li>
    </ol>

    <!-- Links -->
    <p><br><br>
    <a class="button large" href="about">Back to Top</a>
    <a class="button large" href="contact">Contact Us</a>
    <a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
    </p>


	<div class="big_space_break">&nbsp;</div>

    <h2>Results &amp; Impact<a name="results">&nbsp;</a></h2>
       <p>
            PERTS programs draw on decades of scientific research on motivation to help students become more motivated and resilient. They are designed by top behavioral scientists at leading research institutions and evaluated using rigorous, randomized controlled studies. This <a href="https://www.perts.net/files/articles/PERTS_Summary_January_2014.pdf">executive summary</a> highlights some recent results. For example, 
        </p>

        <ul>
        	<li>
            In an experiment with over 1,500 high school students, a 30-minute online mindset intervention increased the rate at which underperforming students (those in the bottom 33% by pre-study grade point average) earned satisfactory grades (As, Bs, Cs) in core academic classes. Over an entire semester, treated students earned satisfactory grades at a 14% higher rate relative to control group students.
		    <img src="/static/home/img/perts_img/results.png" />
           	</li>
           	<li>
            In an experiment with 886 community college students, a 30-minute online mindset intervention increased the rate at which students earned satisfactory grades (As, Bs, and Cs) in a semester-long math course by 12% relative to the control condition.
	        </li>
	        <li>
            In an experiment with over 250,000 students learning math on the Khan Academy website, growth mindset messages presented above math problems (e.g., "When you learn a new kind of math problem, you grow your math brain!") increased the number of concepts students mastered by 3%. Messages of encouragement that emphasized effort but did not convey the idea that students were growing their abilities had no effect (e.g., "Some of these problems are hard, just do your best").
	        </li>
	    </ul>
 
    </div>
	<!-- Links -->
	<p>
	<a class="button large" href="about">Back to Top</a>
	<a class="button large" href="contact">Contact Us</a>
	<a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
	</p>

	<div class="big_space_break">&nbsp;</div>

	<div class="row big-text ">
		<h2>User Experiences<a name="experiences">&nbsp;</a></h2>
		<img src="/static/home/img/perts_img/about_raising_hands.jpg" />
	</div>
	<div class="row big-text ">
		
		<blockquote><p>The impact was so overwhelmingly positive that I have to admit that it brought tears to my eyes. I was just so thrilled for my community.</p></blockquote>
		<blockquote><p>[When PERTS unveiled our college's results at a state-wide summit of faculty and administrators], all the arrows went in the right direction, and there were gasps of joy when they saw this.</p></blockquote>
		</div>
    	<blockquote>
		<p>They ask us questions to help us succeed in school. That was my favorite part about the program. <br /></p>		
		</blockquote>
	</div>
	<!-- Links -->
	<p>
	<a class="button large" href="about">Back to Top</a>
	<a class="button large" href="contact">Contact Us</a>
	<a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
	</p>


	<div class="big_space_break">&nbsp;</div>

	<h2>Team<a name="team">&nbsp;</a></h2>
	<h2 class="page-subdescription">
	Our interdisciplinary team includes behavioral scientists, 
	software developers, analysts, and logistics coordinators.
	</h2>	

	<h3 style="margin-bottom:25px;">Leadership</h3>

	<div class="row">
		<div class="team-member one-fourth"> 
			<a href="//www.stanford.edu/~paunesku" target="_blank">
				<img src="static/home/img/perts_img/headshot_paunesku.png" alt="" class="photo"></a>
			<div class="content">
			    <h4 class="name">Dave Paunesku</h4>
				<span class="job-title">Executive Director<br>PERTS<br>Stanford University</span>
		  </div><!-- end .content --></div>

		<div class="team-member one-fourth"><img src="static/home/img/perts_img/headshot_romero.jpg" alt="" class="photo">
			<div class="content">
			    <h4 class="name">Carissa Romero</h4>
				<span class="job-title">Associate Director<br>PERTS<br>Stanford University</span>
		  </div><!-- end .content --></div>

		<div class="team-member one-fourth"> <a href="http://www.stanford.edu/~gwalton/home/Welcome.html" target="_blank"><img src="static/home/img/perts_img/headshot_walton.jpg" alt="" class="photo"></a>
		<div class="content">
		    <h4 class="name">Greg Walton</h4>
			<span class="job-title">Assistant Professor<br>Stanford University<br>Faculty Advisor</span></div><!-- end .content --></div>

		<div class="team-member one-fourth last"> <a href="https://www.stanford.edu/dept/psychology/cgi-bin/drupalm/cdweck" target="_blank">
				<img src="static/home/img/perts_img/headshot_dweck.jpg" alt="" class="photo"></a>
				<div class="content">
		   	    <h4 class="name">Carol Dweck</h4>
					<span class="job-title">Professor<br>Stanford University<br>Faculty Advisor</span></div><!-- end .content -->
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<h3 style="margin-bottom:25px;">Affiliated Faculty</h3>
		 
		<div class="team-member one-fourth"> <a href="http://www.utexas.edu/cola/centers/prc/directory/faculty/yeagerds" target="_blank">
				<img src="static/home/img/perts_img/headshot_yeager.jpg" alt="" class="photo"></a>
				<div class="content">
		   	    <h4 class="name">David Yeager</h4>
					<span class="job-title">Assistant Professor<br>Univ. Texas Austin
					</span></div><!-- end .content --></div>

		<div class="team-member one-fourth"> <a href="https://psychology.stanford.edu/jgross" target="_blank">
				<img src="static/home/img/perts_img/headshot_gross.jpg" alt="" class="photo"></a>
				<div class="content">
		   	    <h4 class="name">James Gross</h4>
					<span class="job-title">Associate Professor<br>Stanford University
					</span></div><!-- end .content --></div>
		  
		<div class="team-member one-fourth"> <a href="https://ed.stanford.edu/faculty/joboaler" target="_blank">
				<img src="static/home/img/perts_img/headshot_boaler.jpg" alt="" class="photo"></a>
				<div class="content">
		   	    <h4 class="name">Jo Boaler</h4>
					<span class="job-title">Professor<br>Stanford University
					</span></div><!-- end .content --></div>

		<div class="team-member one-fourth last"> <a href="https://ed.stanford.edu/faculty/glc" target="_blank">
				<img src="static/home/img/perts_img/headshot_cohen.jpg" alt="" class="photo"></a>
				<div class="content">
		   	    <h4 class="name">Geoff Cohen</h4>
					<span class="job-title">Professor<br>Stanford University</span></div><!-- end .content --></div>
		  
	</div>
	<div class="clear"></div>
	<div class="row">

		  <h3 style="margin-bottom:25px;">Staff &amp; Research Collaborators</h3>

		    
		<div class="team-member one-fourth"><img src="static/home/img/perts_img/headshot_beaubien.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Jacquie Beaubien</h4>
					<span class="job-title">Senior Program Manager</span></div><!-- end .content --></div>
		  
		<div class="team-member one-fourth"><img src="static/home/img/perts_img/headshot_macrander.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Chris Macrander</h4>
					<span class="job-title">Software Engineer</span></div><!-- end .content --></div>
		    
		<div class="team-member one-fourth"> <img src="static/home/img/perts_img/headshot_haley.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Ben Haley</h4>
					<span class="job-title">Software Engineer</span></div><!-- end .content --></div>
		      
		<div class="team-member one-fourth last"> <img src="static/home/img/perts_img/headshot_smith.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Eric Smith</h4>
					<span class="job-title">Technical Associate</span></div><!-- end .content --></div>

		 <div class="clear"></div>

		<div class="team-member one-fourth"> <img src="static/home/img/perts_img/headshot_herter.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Rachel Herter</h4>
					<span class="job-title">Program Assistant</span>
				</div><!-- end .content --></div>

		<div class="team-member one-fourth"> <img src="static/home/img/perts_img/headshot_okonofua.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Jason Okonofua</h4>
					<span class="job-title">MS5 Program Lead</span>
			  </div><!-- end .content --></div>

		<div class="team-member one-fourth last"> <img src="static/home/img/perts_img/headshot_greene.jpg" alt="" class="photo">
				<div class="content">
		   	    <h4 class="name">Daniel Greene</h4>
					<span class="job-title">Program Associate</span>
			  </div><!-- end .content --></div>

	</div>
	<div class="clear"></div>
	<!-- Links -->
	<p>
	<a class="button large" href="about">Back to Top</a>
	<a class="button large" href="contact">Contact Us</a>
	<a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
	</p>


	<div class="big_space_break">&nbsp;</div>

	<h2>Partner Schools<a name="partners">&nbsp;</a></h2>
	<div class="row">
		<h2 class="page-subdescription">
			PERTS partners with schools, colleges, online learning platforms, and researchers across the United States to improve student outcomes.
		</h2>
		<div class="">
			<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=211425556041242000080.0004db31858350b08e94d&amp;t=m&amp;z=3&amp;output=embed"></iframe>
		</div>
		<hr>
	</div>

	<!-- Links -->
	<p>
	<a class="button large" href="about">Back to Top</a>
	<a class="button large" href="contact">Contact Us</a>
	<a class="button large" href="https://www.perts.net/main/inquire.php">Enroll &raquo;</a>
	</p>

	<div class="big_space_break">&nbsp;</div>


	<h2>Press Inquiries<a name="press">&nbsp;</a></h2>

	 <p>For press inquiries or to request a speaking engagement, please email us at <a href=">

	 <hr>

	<h2>In the News</h2>

	2013, November 20, Wall Street Journal
	<ul class="none"><li><a href="http://online.wsj.com/news/articles/SB10001424052702304439804579207951856455572" target="_blank">New Ways to Fight 'Imposter Fears'</a></li></ul>

	<br>

	2013, May 22, Scientific American
	<ul class="none"><li><a href="http://www.scientificamerican.com/article.cfm?id=stereotype-interventions-expel-from-classrooms-across-country" target="_blank">How to Expel Hurtful Stereotypes from Classrooms across the Country</a></li></ul>

	<br>

	2013, February 22, Stanford News 
	<ul class="none"><li><a href="http://news.stanford.edu/news/2013/february/brief-intervention-benefits-022213.html" target="_blank">Save your teens, save your marriage: Stanford's brief interventions</a></li></ul>

	<br>

	2013, February 20, edSurge News Brief
	<ul class="none"><li><a href="https://www.edsurge.com/n/2013-02-20-stanford-research-offers-solution-for-latino-student-woes" target="_blank">Stanford Research Offers Solution for Latino Student Woes</a></li></ul>

	<br>

	2012, December 19, edSurge News Brief
	<ul class="none"><li><a href="https://www.edsurge.com/n/2012-12-19-stanford-research-lab-brings-effective-behavioral-interventions-online" target="_blank">Stanford Research Lab Brings Effective Behavioral Interventions Online</a></li></ul>

	<br>

	<hr>

	<h2>Speaking Engagements</h2>

	<!-- <h3>Upcoming</h3>

	    <hr> 

	    <h3>Previous</h3> -->

	2014, January 12. Raising Student Achievement By Promoting Adaptive Beliefs

	<ul><li>Jacquie Beaubien | Alliance College-Ready Public Schools Faculty Development Event. Los Angeles, CA
	  </li></ul>

	2013, December 12. Psychological Barriers to Success: Beliefs that prevent students from reaching their potential and how we can change them.

	<ul><li>Carissa Romero | MAPP Alumni Webinar.
	</li></ul>

	2013, November 14. Mindsets: The power of beliefs. 

	<ul><li>Carissa Romero | Hawken Parent Partnership Event. Cleveland, OH.
	</li></ul>

	2013, October 31. PERTS:Raising Achievement with Online Psychological Interventions.
	<ul><li>Carissa Romero | Psychological Interventions in Educational Settings Group, Stanford, CA.
	</li></ul>

	2013, September 21. Keynote Address

	<ul><li>Carissa Romero | University of San Diego Department of Learning and Teaching; San Diego, CA
	</li></ul>

	2013, May 7. Choking Under Pressure: Beliefs that Hold Students Back and How We Can Change Them

	<ul><li>Carissa Romero | PNAIS Spring Heads Conference; Union, WA
	</li></ul>

	2013, April 6. Raising Student Achievement By Promoting A Growth Mindset

	<ul><li>Carissa Romero | 2013 Deeper Learning Conference; San Diego, CA
	</li></ul>

	2013, April 5. Raising Student Achievement By Promoting Adaptive Beliefs

	<ul><li>Carissa Romero & Jacquie Beaubien | AFDI Shared Faculty Developmental Event at Ivy Tech Community College; Muncie, IN
	</li></ul>

	2013, April 4. Raising Student Achievement By Promoting Adaptive Beliefs

	<ul><li>Carissa Romero & Jacquie Beaubien | Ivy Tech Community College Program Chair Summit; French Lick Springs, IN
	</li></ul>

	2013, April. The Importance of School Contexts for Mindsets about Intelligence

	<ul><li>Dave Paunesku, Carissa Romero,  Carol Dweck, & Greg Walton | Symposium at the annual convention of the American Educational Research Associations; San Francisco, CA.
	</li></ul>

	2013, April. Mindset and Learning Strategy Interventions

	<ul><li>Dave Paunesku, Carissa Romero, Carol Dweck, & Greg Walton | Middle Schift Convening, Hewlett Foundation; Menlo Park, California.
	</li></ul>

	2012, November 19. Psychological Barriers to success: Beliefs that Prevent

	Students From Reaching their Potential and How We Can Change Them

	<ul><li>Carissa Romero | Lowell High School Professional Development Workshop; San Francisco, CA.
	</li></ul>

	2012, October 24. The Importance of School Contexts in Changing Students’ Mindsets About Intelligence

	<ul><li>Dave Paunesku & Jacquie Beaubien | SRATE Conference; Little Rock, AK
	</li></ul>

	2012, August 23. The Student Perspectives Program: Changing Mindsets for Success

	<ul><li>Jacquie Beaubien | Santa Monica College Math and Physical Sciences Department; Santa Monica, CA
	</li></ul>

	2012, June 21. Psychological Barriers to Success: Beliefs that Prevent Students  From Reaching Their Potential And How We Can Change Them

	<ul><li>Carissa Romero | Peninsula Bridge Pre-Program Professional Development; Palo Alto, CA
	</li></ul>

	2012, June 10. The Power of Brief Psychological Programs.

	<ul><li>Carissa Romero | San Ramon Valley High School; Danville, CA
	</li></ul>

	2012, May 19. Helping Students Across Difficult Transitions: an Online Platform for Delivering Psychological Interventions.

	<ul><li>Carissa Romero | Stanford-Berkeley-Santa Cruz Talk; Santa Cruz, CA.
	</li></ul>

	2012, April 2. The Student Perspectives Program: Helping Students Overcome

	Psychological Barriers to Success.

	<ul><li>Carissa Romero | Wallenberg High School; San Francisco, CA
	</li></ul>

	2012, March 23. The Power Of Beliefs About Change

	<ul><li>Carissa Romero | Lowell High School: Global Glimpse Group; San Francisco, CA
	</li></ul>

	2012, March 10. The Power of Brief Psychological Programs

	<ul><li>Carissa Romero | Bay Area Teach For America Conference; San Francisco, CA.
	</li></ul>

	2012, March 2. The Power of Brief Psychological Programs

	<ul><li>Carissa Romero | Professional development talk for BAFLP; Stanford, CA
	</li></ul>

	2012, January. Changing Beliefs about Intelligence: Effects on Beliefs about Effort, Wellbeing, and Achievement.

	<ul><li>Dave Paunesku & Carol Dweck | Annual convention of the Society for Personality and Social Psychology; San Diego, CA.
	</li></ul>

	2011, November 10. Growth mindset: Helping Students Reach Their Full Potential

	<ul><li>Carissa Romero | Broadway Continuation High School Staff Professional Development Day; San Jose, CA
	</li></ul>

	2011, October 19. Helping Students Across Difficult Transitions: An Online Platform for Delivering Psychological Interventions.

	<ul><li>Carissa Romero & Dave Paunesku | Stanford Developmental Brownbag; Stanford, CA
	</li></ul>

	2011, July 19. The Power of Brief Psychological Programs

	<ul><li>Carissa Romero | Experimental Design Thinking Workshop for K-12; San Francisco, CA
	</li></ul>

	Summer 2011. Introduction to Social Psychology Lecturer

	<ul><li>Carissa Romero | Stanford, CA
	</li></ul>

	2011, June 17. Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School

	<ul><li>Carissa Romero, Allison Master, Carol Dweck, & James Gross | Association for Research in Personality, Riverside, CA
	</li></ul>

	2011, June 5. Raising Academic Achievement Through Social Psychological Intervention: Between-school Differences and Other Considerations for Large-scale Implementation

	<ul><li>Dave Paunesku, Carissa Romero, Greg Walton, & Carol Dweck | Annual convention of the Canadian Psychological Association; Toronto, Canada
	</li></ul>

	Spring 2011, Fall 2011. Lecture on Attachment

	<ul><li>Carissa Romero | Introduction to Developmental Psychology; Stanford, CA
	</li></ul>

	2011, May 21. Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School

	<ul><li>Carissa Romero, Allison Master, Carol Dweck, & James Gross | Berkeley-Stanford-Santa Cruz Annual Developmental Talks; Stanford, CA
	</li></ul>

	2011, April 11. Mindsets: The Power of Beliefs

	<ul><li>Carissa Romero | Harker High School; San Jose, CA
	</li></ul>

	2011, April 1. Brainology in the Classroom: An Online Growth Mindset Intervention Affects GPA, Conduct, and Implicit Theories

	<ul><li>Carissa Romero, Dave Paunesku, & Carol Dweck | Society for Research in Child Development Biennial Meeting; Montreal, Canada.
	</li></ul>

	2011, January 7. Scaling up Psychological Interventions

	<ul><li>Dave Paunesku | Carnegie Foundation for the Advancement of Teaching; Stanford, CA.
	</li></ul>

	2010, December 14. Beliefs That Affect Achievement and Ways to Change Them.

	<ul><li>Dave Paunesku | Silicon Valley Community Foundation; Mountain View, CA.
	</li></ul>

	2010 (September 30), 2011 (October 13), 2012 (October 2). Mindsets of Intelligence

	<ul><li>Carissa Romero | Contemporary Psychology Seminar for Co-Terminal Master’s Students; Stanford, CA
	</li></ul>

	Summer 2010. Introduction to Developmental Psychology Lecturer

	<ul><li>Carissa Romero | Stanford, CA
	</li></ul>

	2010, July 13. Mindsets: The Power of Beliefs

	<ul><li>Carissa Romero | ALearn Middle School Math Students; Stanford, CA
	</li></ul>

	2009, November 21. Mindset: How to Welcome and Love Challenges

	<ul><li>Carissa Romero | Impetus Employee Summit; Bay Area, CA
	</li></ul>

	2009, April 15. Theories of Intelligence and Theories of Emotion Control: Effects Over an Adolescent Transition

	<ul><li>Carissa Romero | Stanford Developmental Brownbag; Stanford, CA
	</li></ul>


</section>


<aside id="sidebar">

	<div class="widget">
    	<h4 class="widget-title">Key Sponsors</h4>
		<a href="http://raikesfoundation.org/"><img src="/static/home/img/perts_img/raikes_logo.png" /></a>
		<br><br>
		<a href="http://www.hewlett.org/"><img src="/static/home/img/perts_img/hewlett.png" /></a>
		<br><br>
		<a href="http://www.gatesfoundation.org/"><img src="/static/home/img/perts_img/gates.png" /></a>
		<br><br>
		<a href="http://ies.ed.gov"><img src="/static/home/img/perts_img/ies.png" /></a>
		<br><br>
		<a href="http://humsci.stanford.edu/"><img src="/static/home/img/perts_img/h_and_s_seal.png" /></a>
       
    </div>

	<div class="widget">
		<h6 class="widget-title">Readings</h6>
        <ul class="categories">
        	<li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Learn About Mindsets,<br> CCSR Report</a></li>
			<li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">Learn About Mindset Interventions,<br> Yeager &amp; Walton</a></li>
			<li><a href="http://www.perts.net/files/articles/PERTS_Summary_January_2014.pdf" target="_blank">PERTS Results,<br> Executive Summary</a></li>
        </ul>
    </div>


    <div class="widget">
    	<h6 class="widget-title">Social Media</h6>
        <a class="twitter-timeline"  href="https://twitter.com/pertslab"  data-widget-id="345271380314578944">Tweets by @pertslab</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br><br><br>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpertslab&amp;width=292&amp;height=300&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:300px;" allowTransparency="true"></iframe>
    </div>

{% endblock %}