{% extends "p2-base.html" %}

{% block title %}
College Transition Consortium
{% endblock %}

{% block content %}

<section id="main">
    <h1>The College Transition Consortium</h1>
	<h3>
		Changing Mindsets to Improve the Transition to College
	</h3>
	<p>
		Even with identical high school credentials, socially disadvantaged students drop out of college at higher rates and earn worse grades than students from advantaged backgrounds. Research suggests that this disparity is partly attributable to students' concerns about fitting in at college. Importantly, research also suggests that these concerns can be mitigated through brief, targeted mindset interventions. The College Transition Consortium is a group of researchers and universities working together to create, evaluate, and disseminate these interventions.
	</p>
	<br>

	<hr>
	<h2>Table of Contents</h2>
	<h3>
		<a href="#how">Improving the Transition to College</a><br>
		<a href="#evidence">The Evidence</a><br>
		<a href="#next_steps">Next Research Steps</a><br>
		<a href="#timeline">Timeline</a><br>
		<a href="#team">Research Team</a><br>
		<a href="#contacts">Key Contacts</a>
	</h3>

	<hr>
	<a name="how">&nbsp;</a>
	<h2>
		How Can We Improve the Transition to College for Disadvantaged Students?</h2>
	<p>
	To succeed in college students from disadvantaged backgrounds need access to high-quality secondary education and adequate financial aid. But they also need adaptive mindsets to understand challenges they will experience in college and how they can overcome these challenges.
	</p>
	

	<p>
	A disadvantaged background can in some cases cause students to worry whether a "person like me" will belong or be able to succeed in college. When they encounter common difficulties in the critical first weeks and months of college—like feelings of loneliness or isolation or critical feedback from instructors—these difficulties can seem like proof that they don't belong or can't succeed on campus. That inference can become self-fulfilling.
	</p>

	<p>
	Yet recent research shows that brief, well-tailored messages delivered at key transition moments can change students’ mindsets about college and improve their outcomes. These interventions help students anticipate challenges they will face in college and plan ways to overcome them. For instance:
	</p>

	<ul>
		<li>The social-belonging intervention conveys that everyone worries at first about whether they belong in college, but these worries dissipate with time. This belief helps students stay in the game when they feel isolated or excluded early in college.</li>
		<li>The growth-mindset of intelligence intervention conveys that intelligence is not fixed but grows with hard work, effective strategies, and help from others. The implication is that, when a student struggles in Calculus I or Introduction to Chemistry, this is an opportunity to learn and grow, not a sign that they can't cut it in college.</li>
	</ul>

	<hr>
	<a name="evidence">&nbsp;</a>
	<h2>The Evidence</h2>
    <p>
		Recent randomized controlled trials show that brief social-belonging and growth-mindset interventions can cause lasting improvements in the transition to college for disadvantaged students:
	</p>

	<ul>
		<li>A 1-hour social-belonging intervention, delivered in person toward the end of students’ freshman year, raised grades among African American students at a selective private university over the next three years, reducing the racial achievement gap by 50%.</li>
		<li>A 45-minute social-belonging intervention completed online by 584 college-admitted charter-school students at the end of their senior year of high school increased the percentage of students who stayed full-time enrolled in college over the next year from 32% to 43%. Almost all students were African American and first-generation college students.</li>
		<li>Either a social-belonging or a growth-mindset of intelligence intervention completed in a 45-minute online activity by the entire incoming class (N=7,342) at a major public university in the summer before coming to college increased the percentage of ethnic-minority and first-generation college students who finished the first-semester full-time enrolled, a key predictor of on-time graduation. The effect reduced the gap in full-time enrollment with majority-group/continuing-generation students by 51%.</li>
		<li>A 45-minute online social-belonging intervention or two other brief mindset interventions completed by the entire incoming class (N=1,592) at a selective private university before coming to college raised first-year grades among ethnic-minority students and first-generation White students, reducing the first-year achievement gap by 35%.</li>
	</ul>

	<br>
	<h3>
	How do mindset interventions improve student success? 
	</h3>
	<p>They help prepare students to develop social capital on campus—such as close friendships, involvement in student groups, and engagement with professors and the development of mentor relationships. These are essential resources for college student success. Worries about one's belonging or academic abilities—arising from previous social or economic disadvantage—can prevent students from pursuing these opportunities. Intervening to address these worries can help students take active steps to acquire social capital.
	</p>

	<hr>
	<a name="next_steps">&nbsp;</a>
	<h2>Next Research Steps:</h2>
	<h3>Evaluating Pre-Matriculation Mindset Interventions In Preparation for Widespread Dissemination</h3>

	<p>Mindset interventions have a special promise for remedying inequality in higher education. These interventions can be delivered effectively before students come to campus as part of online pre-matriculation programming (e.g., alongside roommate preference forms, etc.). As such:</p>
	<ol>
		<li>They can help students form reasonable expectations for what college will be like and what challenges they will encounter, facilitating a better transition from day one.</li>
		<li>They are brief, low-cost, and highly scalable. During pre-matriculation, colleges and universities can reach the entire incoming class with online exercises at little cost per student.</li>
	</ol>

	<br>
	<h3>Mindset interventions have demonstrated significant promise. However, it is essential to responsibly evaluate these interventions on a large scale before widespread dissemination.</h3>

	<p>Mindset interventions are not <a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">magic</a>. They are powerful only when they directly speak to students’ worries about the transition to college and help them respond to challenges they face—when they ameliorate some of the psychological consequences of disadvantage relevant in a particular setting. As a consequence, mindset exercises may need to be adapted or customized for new settings to be most effective. In addition, their effectiveness may vary in different contexts and for different students.</p>

	<br>
	<h3>To address the need for rigorous, large-scale evaluation, we are creating a partnership between researchers and colleges and universities to customize and evaluate these interventions in a large multi-site trial.</h3>

	<p>
		Analogous to a Stage 3 Clinical Trial except involving systematic customization of materials and delivery procedures for each site, this partnership will allow us to test standardized and optimized mindset interventions with the full incoming cohorts at partner schools. In doing so, we will be able to answer three critical questions:
	</p>
	<ol>
		<li>How effective are standardized, uncustomized mindset interventions overall in improving outcomes among disadvantaged students in the transition to college?</li>
		<li>Where (in what kinds of schools) and with whom (what kinds of students) are mindset interventions more and less effective?</li>
		<li>How can we customize mindset interventions for new colleges and universities? Are customized interventions more effective?</li>
	</ol>

	<br>
	<h3>After this evaluation, interventions that prove effective will be made available to every college, university, and secondary school that wishes to use them.</h3>
	<br>

	<hr>
	<a name="timeline">&nbsp;</a>
	<h2>Timeline</h2>
	<ul>
		<li>In Fall 2014 and Spring 2015 we will customize mindset interventions with partner schools. Customization procedures will draw heavily on best practices in user-centered design. This involves qualitative research such as focus groups and interviews with students, faculty and staff, as well as rapid prototyping and revision of materials and procedures.</li>
		<li>In Summer of 2015 and Summer of 2016, we will deliver standardized and customized mindset interventions in pre-matriculation online materials on a randomized basis to incoming students at partner schools. Outcomes examined will include college persistence and achievement (e.g., GPA). When it is possible to administer comprehensive surveys, outcomes will also involve questions relevant to social capital, such as friendships and mentor relationships. Initial results from the first cohort will be available in Spring and Summer of 2016.</li>
		<li>Effective interventions will then be available for continued use at partner schools and to new schools through a dissemination process.</li>
	</ul>

	<br>
	<hr>
	<h2>Research Team<a name="team">&nbsp;</a></h2></h2>

	<p>Our team includes leading researchers who have developed mindset interventions.
	</p>

	<p>	
		<strong>Principal Investigators</strong><br>
		<a href="http://www.stanford.edu/~gwalton/home/Welcome.html">Greg Walton</a>,
			Stanford University<br>

		<a href="http://www.utexas.edu/cola/centers/prc/directory/faculty/yeagerds">David Yeager</a>, 
		University of Texas, Austin<br>

		<a href="http://psych.indiana.edu/faculty/mcmpsych.php">
		Mary Murphy</a>, 
		Indiana University<br>

		<br>
		<strong>Core Staff</strong><br>
		<a href="http://www.paunesku.info">Dave Paunesku</a>, Executive Director, Stanford University PERTS<br>
		Omid Fotuhi, Postdoctoral Scholar, Stanford University<br>
		Lauren Aguillar, Postdoctoral Scholar, Stanford University<br>
		Shannon Brady, Doctoral Candidate, Stanford University<br>
		Stephanie Reeves, Doctoral Candidate, University of Texas-Austin<br>
		Sara Driskell, Doctoral Candidate, Indiana University<br>
		Maithreyi Gopalan, Doctoral Candidate, Indiana University<br>

		<br>
		<strong>Advisors</strong><br>
		Geoff Cohen, Professor, Stanford University<br>
		Carol Dweck, Professor, Stanford University<br>
		Hazel Markus, Professor, Stanford University<br>
	</p>
	<br>

	<hr>
	<div>
		<a name="contacts">&nbsp;</a>
		<h2>Contact</h2>
		<p>
			If you would like to learn more about how your college or university can get involved, please contact:
		</p>
		<p>
			<b>Omid Fotuhi,</b> <a href="</a>.
		</p>
		<p>
			Your inquiry will be responded to within one week.
		</p>
    </div>

</section>
<aside id="sidebar">
	<div class="widget">
    	<h4 class="widget-title">Consortium Partners</h4>
        <br>
        <br>
        <img style="width:200px;" src="/static/home/img/Stanford_University_seal.png" />
        <br>
        <br>
        <img style="width:200px;" src="/static/home/img/ut-seal.png" />
        <br>
        <br>
        <img style="width:200px;" src="/static/home/img/iu-logo.png" />

    </div>
	
	<div class="widget" style="text-align:center;">
		<h4 class="widget-title">Contact</h4>
		<p>
			To learn more, email<br>
			Omid Fotuhi<br>
			<a href="</a>
		</p>
		</p>
		<br><br><br>
		<h4 class="widget-title">Further Reading</h4>
		<p>
	        <a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">Yeager &amp; Walton, 2011</a>
	    </p>
		<br><br><br>
    	<h4 class="widget-title">Download as PDF</h4>
        <a href="/static/documents/Mindsets_in_the_College_Transition.pdf">
        	<img src="/static/home/img/pdf-icon.png" />
        </a>

    </div>
</aside>

{% endblock %}