{% extends "p2-base.html" %}

{% block title %}
PERTS
{% endblock %}

{% block content %}

	<div class="big-text row" id="splash_intro">
		<!-- <img src="/static/images/home/about_raising_hands.jpg" /> -->
		<div class="one-half">
			<h2 class="page-title" style="font-size:36px;">Applying research to raise achievement across the nation</h2>
			<!-- <h3 class="page-title">Raising Achievement</h3>
			<h3 class="page-title">Advancing Research</h3>
			<h3 class="page-title">Fostering Collaboration</h3> -->
			<h3><a href="#big_menu" class="button large" style="font-size:22px;font-weight:normal;">Learn More &raquo;</a></h3>
		</div>
	</div>

	<div class="big_space_break">&nbsp;</div>

	<a name="big_menu">&nbsp;</a>
	<div class="big-text row">
		<div class="one-half button_tile">
			<div class="inner_tile">
				<h3 class="page-title"><a href="/about">About PERTS &raquo;</a></h3>
				<p class="page-subdescription">A Stanford University research center focused on academic motivation.</p>
			</div>
		</div>

		<div class="one-half last button_tile">
			<div class="inner_tile">
				<h3 class="page-title"><a href="/programs">Get Involved &raquo;</a></h3>
				<p class="page-subdescription">Work with us to help your students become motivated, resilient learners.</p>
			</div>
		</div>
	</div>


	<div class="big-text row">
		<div class="one-half button_tile">
			<div class="inner_tile">
				<h3 class="page-title"><a href="/about#results">Making an Impact &raquo;</a></h3>
				<p class="page-subdescription">Our programs have raised the performance of 100,000s of students.</p>
			</div>
		</div>

		<div class="one-half last button_tile">
			<div class="inner_tile">
				<h3 class="page-title"><a href="/about#ongoing">Ongoing Projects &raquo;</a></h3>
				<p class="page-subdescription">We're working to reach more students while advancing research.</p>
			</div>
		</div>
	</div>

	<!-- Twitter conversion tracking -->
	<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
	<script type="text/javascript">
	twttr.conversion.trackPid('l4d92');
	</script>
	<noscript>
	<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4d92&p_id=Twitter" />
	</noscript>

{% endblock %}