{% extends "p2-base.html" %}

{% block title %}
Programs
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">Programs</h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/programs_computers.jpg"></p>
    <p>
    <b>Enrolling now for the 2014-2015 academic year!</b>
    </p>
    <p>
		Our programs are designed to raise academic achievement by changing the way students 
		think about school. They are delivered over the internet and take 1-3 
		hours* of class time to complete. Some programs target students directly 
		using brief online readings and activities.
		Other programs ask students to answer surveys and use the collected data to provide
		their teachers with research-based recommendations.
	</p>
	<div class="infobox">

		<h3>Ready to start?</h3>

		<p>We are currently recruiting districts and schools for the 2014-2015 academic year. 
		All of our programs are free because of support from our funders.
		Custom programs are available as sponsored research. 
		Click below to learn more about our current programs.</p>

		<ul class="arrow">
		
		<li><a href="orientation/ms10">Middle School Transition Program</a></li>
		<li><a href="orientation/hs10">High School Transition Program</a></li>


<!--		  <li><a href="orientation/cc8.php">CC8- Community College Student Perspectives (Homework)</a></li>-->
		</ul>
	</div> <!-- end .infobox -->

		*The programs require 1-3 hours of class time over an entire academic year. That may sound like magic,
		but it's actually the result of decades of research by leading behavioral scientists.
		<a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank" title="Yeager &amp; Walton Review Article">Read more</a>.

    <hr>

	
	
	
</section>
<aside id="sidebar">
	<div class="widget">
    	<h6 class="widget-title">Teacher Registration</h6>
    	<ul class="arrow">
    	<li>To register, select the program your school is participating in from the list below:</li>
   		</ul>
        <ul class="categories">
        	<li><a href="orientation/ms10">Middle School Transition Program</a></li>
			<li><a href="orientation/hs10">High School Transition Program</a></li>
        </ul>
    </div>
     <div class="widget">
        	<blockquote>
			<p>The results were amazing, and well above my expectations... Two forty-five minute sessions is all it takes to make a significant change in your students' motivation and classroom performance.<br /><br />-Community College Educator</p>
		</blockquote>
    </div>
	<div class="widget">
		<h6 class="widget-title">Readings</h6>
        <ul class="categories">
        	<li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Learn About Mindsets,<br> CCSR Report</a></li>
			<li><a href="http://www.perts.net/files/articles/yeager_walton_2011.pdf" target="_blank">Learn About Mindset Interventions,<br> Yeager &amp; Walton</a></li>
			<li><a href="/files/articles/PERTS_Summary_January_2014.pdf" target="_blank">PERTS Results,<br> Executive Summary</a></li>
        </ul>
    </div>
	<div class="widget">
		<h6 class="widget-title">Contact Us</h6>
		<p>To inquire about participating.
		</p>
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">Inquire &raquo;</a></p>
    </div>

    <hr>

</aside>

{% endblock %}