{% extends "p2-base.html" %}

{% block title %}
Publicity
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">Publicity</h1>
</header>

<!-- To add facebook widget -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="main">

<h2>Press Inquiries</h2>

 <p>For press inquiries or to request a speaking engagement, please email us at <a href=">

 <hr>

<h2>In the News</h2>

2013, November 20, Wall Street Journal
<ul class="none"><li><a href="http://online.wsj.com/news/articles/SB10001424052702304439804579207951856455572" target="_blank">New Ways to Fight 'Imposter Fears'</a></li></ul>

<br>

2013, May 22, Scientific American
<ul class="none"><li><a href="http://www.scientificamerican.com/article.cfm?id=stereotype-interventions-expel-from-classrooms-across-country" target="_blank">How to Expel Hurtful Stereotypes from Classrooms across the Country</a></li></ul>

<br>

2013, February 22, Stanford News 
<ul class="none"><li><a href="http://news.stanford.edu/news/2013/february/brief-intervention-benefits-022213.html" target="_blank">Save your teens, save your marriage: Stanford's brief interventions</a></li></ul>

<br>

2013, February 20, edSurge News Brief
<ul class="none"><li><a href="https://www.edsurge.com/n/2013-02-20-stanford-research-offers-solution-for-latino-student-woes" target="_blank">Stanford Research Offers Solution for Latino Student Woes</a></li></ul>

<br>

2012, December 19, edSurge News Brief
<ul class="none"><li><a href="https://www.edsurge.com/n/2012-12-19-stanford-research-lab-brings-effective-behavioral-interventions-online" target="_blank">Stanford Research Lab Brings Effective Behavioral Interventions Online</a></li></ul>

<br>

<hr>

<h2>Speaking Engagements</h2>

<!-- <h3>Upcoming</h3>

    <hr> 

    <h3>Previous</h3> -->

2014, January 12. Raising Student Achievement By Promoting Adaptive Beliefs

<ul><li>Jacquie Beaubien | Alliance College-Ready Public Schools Faculty Development Event. Los Angeles, CA
  </li></ul>

2013, December 12. Psychological Barriers to Success: Beliefs that prevent students from reaching their potential and how we can change them.

<ul><li>Carissa Romero | MAPP Alumni Webinar.
</li></ul>

2013, November 14. Mindsets: The power of beliefs. 

<ul><li>Carissa Romero | Hawken Parent Partnership Event. Cleveland, OH.
</li></ul>

2013, October 31. PERTS:Raising Achievement with Online Psychological Interventions.
<ul><li>Carissa Romero | Psychological Interventions in Educational Settings Group, Stanford, CA.
</li></ul>

2013, September 21. Keynote Address

<ul><li>Carissa Romero | University of San Diego Department of Learning and Teaching; San Diego, CA
</li></ul>

2013, May 7. Choking Under Pressure: Beliefs that Hold Students Back and How We Can Change Them

<ul><li>Carissa Romero | PNAIS Spring Heads Conference; Union, WA
</li></ul>

2013, April 6. Raising Student Achievement By Promoting A Growth Mindset

<ul><li>Carissa Romero | 2013 Deeper Learning Conference; San Diego, CA
</li></ul>

2013, April 5. Raising Student Achievement By Promoting Adaptive Beliefs

<ul><li>Carissa Romero & Jacquie Beaubien | AFDI Shared Faculty Developmental Event at Ivy Tech Community College; Muncie, IN
</li></ul>

2013, April 4. Raising Student Achievement By Promoting Adaptive Beliefs

<ul><li>Carissa Romero & Jacquie Beaubien | Ivy Tech Community College Program Chair Summit; French Lick Springs, IN
</li></ul>

2013, April. The Importance of School Contexts for Mindsets about Intelligence

<ul><li>Dave Paunesku, Carissa Romero,  Carol Dweck, & Greg Walton | Symposium at the annual convention of the American Educational Research Associations; San Francisco, CA.
</li></ul>

2013, April. Mindset and Learning Strategy Interventions

<ul><li>Dave Paunesku, Carissa Romero, Carol Dweck, & Greg Walton | Middle Schift Convening, Hewlett Foundation; Menlo Park, California.
</li></ul>

2012, November 19. Psychological Barriers to success: Beliefs that Prevent

Students From Reaching their Potential and How We Can Change Them

<ul><li>Carissa Romero | Lowell High School Professional Development Workshop; San Francisco, CA.
</li></ul>

2012, October 24. The Importance of School Contexts in Changing Students’ Mindsets About Intelligence

<ul><li>Dave Paunesku & Jacquie Beaubien | SRATE Conference; Little Rock, AK
</li></ul>

2012, August 23. The Student Perspectives Program: Changing Mindsets for Success

<ul><li>Jacquie Beaubien | Santa Monica College Math and Physical Sciences Department; Santa Monica, CA
</li></ul>

2012, June 21. Psychological Barriers to Success: Beliefs that Prevent Students  From Reaching Their Potential And How We Can Change Them

<ul><li>Carissa Romero | Peninsula Bridge Pre-Program Professional Development; Palo Alto, CA
</li></ul>

2012, June 10. The Power of Brief Psychological Programs.

<ul><li>Carissa Romero | San Ramon Valley High School; Danville, CA
</li></ul>

2012, May 19. Helping Students Across Difficult Transitions: an Online Platform for Delivering Psychological Interventions.

<ul><li>Carissa Romero | Stanford-Berkeley-Santa Cruz Talk; Santa Cruz, CA.
</li></ul>

2012, April 2. The Student Perspectives Program: Helping Students Overcome

Psychological Barriers to Success.

<ul><li>Carissa Romero | Wallenberg High School; San Francisco, CA
</li></ul>

2012, March 23. The Power Of Beliefs About Change

<ul><li>Carissa Romero | Lowell High School: Global Glimpse Group; San Francisco, CA
</li></ul>

2012, March 10. The Power of Brief Psychological Programs

<ul><li>Carissa Romero | Bay Area Teach For America Conference; San Francisco, CA.
</li></ul>

2012, March 2. The Power of Brief Psychological Programs

<ul><li>Carissa Romero | Professional development talk for BAFLP; Stanford, CA
</li></ul>

2012, January. Changing Beliefs about Intelligence: Effects on Beliefs about Effort, Wellbeing, and Achievement.

<ul><li>Dave Paunesku & Carol Dweck | Annual convention of the Society for Personality and Social Psychology; San Diego, CA.
</li></ul>

2011, November 10. Growth mindset: Helping Students Reach Their Full Potential

<ul><li>Carissa Romero | Broadway Continuation High School Staff Professional Development Day; San Jose, CA
</li></ul>

2011, October 19. Helping Students Across Difficult Transitions: An Online Platform for Delivering Psychological Interventions.

<ul><li>Carissa Romero & Dave Paunesku | Stanford Developmental Brownbag; Stanford, CA
</li></ul>

2011, July 19. The Power of Brief Psychological Programs

<ul><li>Carissa Romero | Experimental Design Thinking Workshop for K-12; San Francisco, CA
</li></ul>

Summer 2011. Introduction to Social Psychology Lecturer

<ul><li>Carissa Romero | Stanford, CA
</li></ul>

2011, June 17. Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School

<ul><li>Carissa Romero, Allison Master, Carol Dweck, & James Gross | Association for Research in Personality, Riverside, CA
</li></ul>

2011, June 5. Raising Academic Achievement Through Social Psychological Intervention: Between-school Differences and Other Considerations for Large-scale Implementation

<ul><li>Dave Paunesku, Carissa Romero, Greg Walton, & Carol Dweck | Annual convention of the Canadian Psychological Association; Toronto, Canada
</li></ul>

Spring 2011, Fall 2011. Lecture on Attachment

<ul><li>Carissa Romero | Introduction to Developmental Psychology; Stanford, CA
</li></ul>

2011, May 21. Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School

<ul><li>Carissa Romero, Allison Master, Carol Dweck, & James Gross | Berkeley-Stanford-Santa Cruz Annual Developmental Talks; Stanford, CA
</li></ul>

2011, April 11. Mindsets: The Power of Beliefs

<ul><li>Carissa Romero | Harker High School; San Jose, CA
</li></ul>

2011, April 1. Brainology in the Classroom: An Online Growth Mindset Intervention Affects GPA, Conduct, and Implicit Theories

<ul><li>Carissa Romero, Dave Paunesku, & Carol Dweck | Society for Research in Child Development Biennial Meeting; Montreal, Canada.
</li></ul>

2011, January 7. Scaling up Psychological Interventions

<ul><li>Dave Paunesku | Carnegie Foundation for the Advancement of Teaching; Stanford, CA.
</li></ul>

2010, December 14. Beliefs That Affect Achievement and Ways to Change Them.

<ul><li>Dave Paunesku | Silicon Valley Community Foundation; Mountain View, CA.
</li></ul>

2010 (September 30), 2011 (October 13), 2012 (October 2). Mindsets of Intelligence

<ul><li>Carissa Romero | Contemporary Psychology Seminar for Co-Terminal Master’s Students; Stanford, CA
</li></ul>

Summer 2010. Introduction to Developmental Psychology Lecturer

<ul><li>Carissa Romero | Stanford, CA
</li></ul>

2010, July 13. Mindsets: The Power of Beliefs

<ul><li>Carissa Romero | ALearn Middle School Math Students; Stanford, CA
</li></ul>

2009, November 21. Mindset: How to Welcome and Love Challenges

<ul><li>Carissa Romero | Impetus Employee Summit; Bay Area, CA
</li></ul>

2009, April 15. Theories of Intelligence and Theories of Emotion Control: Effects Over an Adolescent Transition

<ul><li>Carissa Romero | Stanford Developmental Brownbag; Stanford, CA
</li></ul>



</section>
<aside id="sidebar">


    <div class="widget">
        <h2>Follow us!</h2>

        <p>Get the most recent news by following us on twitter or liking us on facebook!</p>

        <!-- <p>Get the most recent news by checking out our blog, following us on twitter, or liking us on facebook!</p> -->

        <!-- <p><a class="button large" href="../blog">PERTS Blog &raquo;</a></p> -->

    </div>
    <hr>
    <div class="widget">
        <a class="twitter-timeline"  href="https://twitter.com/pertslab"  data-widget-id="345271380314578944">Tweets by @pertslab</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <hr>

        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpertslab&amp;width=292&amp;height=300&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:300px;" allowTransparency="true"></iframe>
    </div>
	<div class="widget">
		<h6 class="widget-title">Contact Us</h6>
		<p>To inquire about participating.
		</p>
       <p><a class="button large" href="https://www.perts.net/main/inquire.php">Inquire &raquo;</a></p>
    </div>

    <hr>

	
</aside>

{% endblock %}