{# Part of the flow for users who have forgotten their password. First they #}
{# request a reset email, which contains a reset link. The link brings them #}
{# here. If the code in the link is valid, they'll be allowed to fill out #}
{# the reset form. #}

{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block header %}
<script type="text/javascript">
function ResetPasswordController($scope, $pertsAjax, $window) {
    'use strict';
    $scope.newPasswordBlurred = false;
    $scope.repeatPasswordBlurred = false;
    $scope.success = null;
    $scope.token = '{{ token }}';
    $scope.passwordsMatch = function () {
        if (!$scope.newPassword || !$scope.repeatPassword) {
            return false;
        } else {
            return $scope.newPassword === $scope.repeatPassword;
        }
    };
    $scope.resetPassword = function () {
        $scope.success = null;
        $pertsAjax({
            url: '/api/reset_password',
            method: 'POST',
            params: {
                token: $scope.token,
                new_password: $scope.newPassword
            }
        }).then(function (response) {
            if (response === 'changed') {
                $window.location.href = '/login?password_reset_successful=true';
            } else if (response === 'invalid_token') {
                $scope.success = false;
                tokenInvalid();
            }
        });
    };
    $scope.print = function () {
        // Console logs are BAD. BAD. 
        //console.log($scope.newPassword, $scope.token, $scope);
    };
}
</script>

{% endblock %}

{% block content %}

{% if token_valid %}

<h1>Please enter your new password.</h1>

<div ng-controller="ResetPasswordController">
    <form name="resetPasswordForm">
        <label>
            New password:<br>
            <input type="password" ng-model="newPassword" name="newPassword"
                   ng-blur="newPasswordBlurred=true"
                   ng-pattern="/^[\040-\176]{8,}$/"
                   required>
            <i class="icon-warning-sign password"
               ng-show="newPasswordBlurred && resetPasswordForm.newPassword.$invalid">
                &nbsp;&nbsp;at least 8 characters, please
            </i>
        </label>
        <label>
            Repeat new password:<br>
            <input type="password" ng-model="repeatPassword" required
                   ng-blur="repeatPasswordBlurred=true">
            <i class="icon-warning-sign password"
               ng-show="repeatPasswordBlurred && !passwordsMatch()">
                &nbsp;&nbsp;password do not match
            </i>
        </label>
        <input type="hidden" ng-model="token">
        <button ng-click="resetPassword()"
                ng-disabled="resetPasswordForm.$invalid || !passwordsMatch()">submit
        </button>
    </form>
</div>

{% else %}

<h1 style="margin-top:60px">Your reset password link is invalid or has expired.</h1>

<p>
    <a href="/login">Return to log in page.</a>
</p>

{% endif %}

{% endblock %}
