{% extends "p2-base.html" %}

{% block title %}
Resources
{% endblock %}

{% block content %}

<style>

h2 {
    text-decoration: underline;
}

.infobox {
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.infobox h3 {
    margin-top: 40px;
}

.citation {
    font-size: 0.7em;
}

.citation a {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

</style>

<section id="main">
    <p><img src="/static/home/img/perts_img/resources_page.jpg"></p>
    <p>
        PERTS offers educators several types of resources.
    </p>

<!--     <div class="small_space_break">&nbsp;</div>
    <h1>Skip to Section</h1>
 -->    
    <ul>
        <li><a href="#surveys">Surveys</a></li>
        <li><a href="#professional_development">Professional Development</a></li>
        <li><a href="#readings">Readings</a></li>
        <li><ul>
            <li><a href="#learn_about_mindsets">Learn About Mindsets</a></li>
            <li><a href="#learn_about_mindset_interventions">Learn About Mindset Interventions</a></li>
            <li><a href="#learn_about_scaling_mindset_interventions">Learn About Scaling Mindset Interventions</a></li>
        </ul></li>
    <ul>

    <div class="big_space_break">&nbsp;</div>

    <div id="surveys">

        <h1>Surveys</h1>

        <p>The Mindset Meter lets educators quickly learn about the prevalence of various
         academic mindsets in 
            their school or classroom.
        </p>
        <p><a class="button large" href="http://survey.perts.net">Visit Mindset Meter &raquo;</a></p>
    </div>

    <div class="big_space_break">&nbsp;</div>

    <div id="professional_development">

        <h1>Professional Development</h1>

        <p>
            The Growth Mindset for Math online professional development program was created in collaboration with Jo Boaler, Carol Dweck, and middle and high school math teachers. It gives educators practical advice on how to promote adaptive mindsets in their students through specific classroom practices. Designed for middle and high school math teachers, these online modules include summaries of the latest research, videos, and downloadable actives. This program will be open for anyone to use.
        </p>
        
        <p>
        <h3>Topics include:</h3>
            <ul>
                <li>Introduction to growth mindset</li> 
                <li>The importance of mistakes and productive struggle in math</li> 
                <li>Growth mindset tasks</li> 
                <li>Assessment for learning</li> 
            </ul>
        </p>
        <p>
            <b>Available January 2015</b>
        </p>
    </div>

    <div class="big_space_break">&nbsp;</div>

    <div id="readings">

        <h1>Readings</h1>

        <p>
            Learn about the science behind our program. Below are links to
            papers related to academic mindset research.
        </p>

        <div id="learn_about_mindsets" class="infobox">
        <h2>Learn About Mindsets</h2>

        <h3><a href="https://app.box.com/shared/static/jaccqggqor03wbrx2zb0.pdf">
           CCSR Report: Teaching Adolescents To Become Learners&mdash;The Role of
           Noncognitive Factors in Shaping School Performance: A Critical
           Literature Review
        </a></h3>
        <p>
            This report provides an excellent and comprehensive overview of the
            research on non-cognitive factors&mdash;including mindsets&mdash;related to
            student success. Each factor is linked to the academic behaviors
            that flow from them which provides a clear framework for
            understanding why non-cognitive factors are such strong predictors
            of student success.
        </p>
        <p class="citation">
            Farrington, C. A., Roderick, M., Allensworth, E., Nagaoka, J.,
            Keyes, T. S., Johnson, D. W., &amp; Beechum, N. O. (2012).
            <em>Teaching adolescents to become learners: The role of
            noncognitive factors in shaping school performance</em>. Chicago,
            IL: 154 University of Chicago, Consortium on Chicago School
            Research.
        </p>

        <h3><a href="https://app.box.com/shared/static/hfkk6dr2jt1fl3erek1g.pdf">
            Parent Praise to 1- to 3-Year-Olds Predicts Children’s Motivational
            Frameworks 5 Years Later
        </a></h3>
        <p>
            Laboratory studies have shown that praising children’s effort can
            lead them to adopt a growth mindset. This study examined the impact
            of parent’s naturalistic praise on their children’s mindsets.
            Different kinds of praise are described including interesting
            findings about the prevalence of each. The impact of parent’s
            praise of children’s effort at 14-38 months was linked to children
            having a growth mindset at 7-8 years of age.
        </p>
        <p class="citation">
            Gunderson, E. A., Gripshover, S. J., Romero, C., Dweck, C. S.,
            Goldin-Meadow, S., &amp; Levine, S. C. (2013). Parent praise to 1-3
            year-olds predicts children’s motivational frameworks 5 years
            later. <em>Child Development. 84</em>(5), 1526-1541.
        </p>

        </div> <!-- end infobox "Learn About Mindsets" -->

        <div id="learn_about_mindset_interventions" class="infobox">
        <h2>Learn About Mindset Interventions</h2>

        <h3><a href="https://app.box.com/shared/static/vaoo3mt01lgpnluubwdr.pdf">
            Social-Psychological Interventions in Education: They’re Not Magic
        </a></h3>
        <p>
            Written for educators, this paper reviews the theoretical basis of
            several prominent social-psychological interventions including
            those that target implicit theories (mindsets about intelligence,
            for example), belonging uncertainty and stereo-type threat. It
            provides a clear explanation of how it‘s possible for brief
            interventions to have lasting effects; that their power comes from
            targeting students’ subjective experiences in school, using
            persuasive yet stealthy methods for conveying psychological ideas,
            and tapping into recursive processes present in educational
            environments.
        </p>
        <p class="citation">
            Yeager, D. S., &amp; Walton, G. M. (2011). Social-psychological
            interventions in education: They’re not magic. <em>Review of
            Educational Research, 81</em>(2), 267–301.
        </p>

        <h3><a href="http://www.stanford.edu/~gwalton/home/Publications_files/Walton,%202014.pdf">
           The New Science of Wise Psychology
        </a></h3>
        <p>
            This paper provides an excellent summary of how and why social-
            psychology interventions work. It includes a well organized
            overview of 18 intervention studies conducted in a wide variety of
            contexts, most of which were with students.
        </p>
        <p class="citation">
        Walton, G. M. (2014). The new science of wise psychological interventions. <em>Current Directions in Psychological Science. 23</em>(1) 73-82.
        </p>

        <h3><a href="https://app.box.com/shared/static/7q8e9f5qakhaw36getqw.pdf">
            Implicit Theories of Intelligence Predict Achievement Across an
            Adolescent Transition: A Longitudinal Study and an Intervention
        </a></h3>
        <p>
            Two studies that were foundational to mindset research are
            presented in this paper. In the first study, 373 students entering
            7th grade were surveyed for fixed or growth mindset beliefs then
            tracked for 2 years. Students with a growth mindset did
            significantly better academically. In the second study, an
            intervention to teach a growth mindset successfully improved
            achievement of students with a fixed mindset.
        </p>
        <p class="citation">
            Blackwell, L. S., Trzesniewski, K. H., &amp; Dweck, C. S. (2007).
            Implicit theories of intelligence predict achievement across an
            adolescent transition: A longitudinal study and an intervention.
            <em>Child Development, 78</em>(1), 246–263.
        </p>

        <h3><a href="https://app.box.com/shared/static/puyz0pml4an4ly626e84.pdf">
            Academic and Emotional Functioning in Middle School: The Role of
            Implicit Theories
        </a></h3>
        <p>
            In this study, 115 students entering middle school were surveyed on
            their beliefs about the malleability of intelligence and whether
            they believed emotions could be controlled. Students beliefs about
            intelligence predicted their academic outcomes and students beliefs
            about their ability to control their emotions predicted well-being.
            This study was foundational to the development of our Middle School
            Transition program which teaches students that
            challenging emotions can be managed and provides them with
            strategies to do so.
        </p>
        <p class="citation">
            Romero, C., Master, A., Paunesku, D., Dweck, C. S., &amp; Gross, J.
            J. (2014, February 10). Academic and Emotional Functioning in
            Middle School: The Role of Implicit Theories. <em>Emotion</em>.
            Advance online publication.
            <a href="http://dx.doi.org/10.1037/a0035490">
            http://dx.doi.org/10.1037/a0035490</a>
        </p>
        </div> <!-- end infobox "Learn About Mindset Interventions" -->

        <div id="learn_about_scaling_mindset_interventions" class="infobox">
        <h2>Learn About Scaling Mindset Interventions</h2>

        <h3><a href="https://app.box.com/shared/static/39nwivytjmnx7ctvkdoo.pdf">
            How Can We Instill Productive Mindsets at Scale? A Review of the
            Evidence and an Initial R&amp;D Agenda
        </a></h3>
        <p>
            This 2013 white paper was prepared for the White House convening on
            Excellence in Education: The Importance of Academic Mindsets. It
            reviews research on academic mindsets and programs, including
            several PERTS program, that have demonstrated effective methods for
            scaling interventions targeting mindsets. It concludes with a
            discussion of issues still to be explored and recommendations for
            next steps for testing successful interventions at scaling.
        </p>
        <p class="citation">
            White House meeting on Excellence in Education: The Importance of
            Academic Mindsets. (2013). How Can We Instill Productive Mindsets
            at Scale? A Review of the Evidence and an Initial R&amp;D Agenda
            [White Paper]. Stanford, California.
        </p>

        </div> <!-- end infobox "Learn About Mindset Interventions" -->
    </div>

    <div class="big_space_break">&nbsp;</div>

    <div class="infobox">

        <h1>Programs</h1>

        <p>We are recruiting schools to participate mindset programs.
        These programs are designed to help students develop more adaptive mindsets about learning and school.

        </p>
        <p><a class="button large" href="programs">Visit Programs Page &raquo;</a></p>
    </div> <!-- end .infobox -->

    
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h1>Sponsors</h1>
            <p>PERTS resources are freely available through generous support from the
                William and Flora
                Hewlett Foundation and the Raikes Foundation.
            </p>
            <br><br>
            <a href="//raikesfoundation.org/"><img src="/static/home/img/perts_img/raikes_logo.png" /></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="//www.hewlett.orrag/"><img src="/static/home/img/perts_img/hewlett.png" /></a>
        </div>
    </div>
    
</aside>

{% endblock %}
