{% extends "p2-base.html" %}

{% block title %}
Results
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">Meet Our Team</h1>
</header>
<section id="main">
<h2 class="page-subdescription">
Our interdisciplinary team includes behavioral scientists, 
software developers, analysts, and logistics coordinators.
</h2>	

<h3 style="margin-bottom:25px;">Leadership</h3>

<div class="team-member one-fourth"> 
	<a href="//www.stanford.edu/~paunesku" target="_blank">
		<img src="/static/home/img/perts_img/headshot_paunesku.png" alt="" class="photo"></a>
	<div class="content">
	    <h4 class="name">Dave Paunesku</h4>
		<span class="job-title">Executive Director<br>PERTS<br>Stanford University</span>
  </div><!-- end .content --></div>

<div class="team-member one-fourth"><img src="/static/home/img/perts_img/headshot_romero.jpg" alt="" class="photo">
	<div class="content">
	    <h4 class="name">Carissa Romero</h4>
		<span class="job-title">Associate Director<br>PERTS<br>Stanford University</span>
  </div><!-- end .content --></div>

<div class="team-member one-fourth"> <a href="http://www.stanford.edu/~gwalton/home/Welcome.html" target="_blank"><img src="/static/home/img/perts_img/headshot_walton.jpg" alt="" class="photo"></a>
<div class="content">
    <h4 class="name">Greg Walton</h4>
	<span class="job-title">Assistant Professor<br>Stanford University<br>Faculty Advisor</span></div><!-- end .content --></div>

<div class="team-member one-fourth last"> <a href="https://www.stanford.edu/dept/psychology/cgi-bin/drupalm/cdweck" target="_blank">
		<img src="/static/home/img/perts_img/headshot_dweck.jpg" alt="" class="photo"></a>
		<div class="content">
   	    <h4 class="name">Carol Dweck</h4>
			<span class="job-title">Professor<br>Stanford University<br>Faculty Advisor</span></div><!-- end .content -->
  	</div>

  <div class="clear"></div>

<h3 style="margin-bottom:25px;">Affiliated Faculty</h3>
 
<div class="team-member one-fourth"> <a href="http://www.utexas.edu/cola/centers/prc/directory/faculty/yeagerds" target="_blank">
		<img src="/static/home/img/perts_img/headshot_yeager.jpg" alt="" class="photo"></a>
		<div class="content">
   	    <h4 class="name">David Yeager</h4>
			<span class="job-title">Assistant Professor<br>Univ. Texas Austin<br>HS5 Co-PI</span></div><!-- end .content --></div>

<div class="team-member one-fourth"> <a href="https://psychology.stanford.edu/jgross" target="_blank">
		<img src="/static/home/img/perts_img/headshot_gross.jpg" alt="" class="photo"></a>
		<div class="content">
   	    <h4 class="name">James Gross</h4>
			<span class="job-title">Associate Professor<br>Stanford University<br>MS4 PI</span></div><!-- end .content --></div>
  
<div class="team-member one-fourth"> <a href="https://ed.stanford.edu/faculty/joboaler" target="_blank">
		<img src="/static/home/img/perts_img/headshot_boaler.jpg" alt="" class="photo"></a>
		<div class="content">
   	    <h4 class="name">Jo Boaler</h4>
			<span class="job-title">Professor<br>Stanford University<br>CP1 Co-PI</span></div><!-- end .content --></div>

<div class="team-member one-fourth last"> <a href="https://ed.stanford.edu/faculty/glc" target="_blank">
		<img src="/static/home/img/perts_img/headshot_cohen.jpg" alt="" class="photo"></a>
		<div class="content">
   	    <h4 class="name">Geoff Cohen</h4>
			<span class="job-title">Professor<br>Stanford University<br>MS4 Co-PI</span></div><!-- end .content --></div>
  
  <div class="clear"></div>

  <h3 style="margin-bottom:25px;">Staff &amp; Research Collaborators</h3>

    
<div class="team-member one-fourth"><img src="/static/home/img/perts_img/headshot_beaubien.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Jacquie Beaubien</h4>
			<span class="job-title">Senior Program Manager</span></div><!-- end .content --></div>
  
<div class="team-member one-fourth"><img src="/static/home/img/perts_img/headshot_macrander.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Chris Macrander</h4>
			<span class="job-title">Software Engineer</span></div><!-- end .content --></div>
    
<div class="team-member one-fourth"> <img src="/static/home/img/perts_img/headshot_haley.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Ben Haley</h4>
			<span class="job-title">Software Engineer</span></div><!-- end .content --></div>
      
<div class="team-member one-fourth last"> <img src="/static/home/img/perts_img/headshot_smith.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Eric Smith</h4>
			<span class="job-title">Operations Asst.</span></div><!-- end .content --></div>

 <div class="clear"></div>

<div class="team-member one-fourth"> <img src="/static/home/img/perts_img/headshot_herter.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Rachel Herter</h4>
			<span class="job-title">Relations Asst.</span>
		</div><!-- end .content --></div>

<div class="team-member one-fourth"> <img src="/static/home/img/perts_img/headshot_okonofua.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Jason Okonofua</h4>
			<span class="job-title">MS5 Program Lead</span>
	  </div><!-- end .content --></div>

<div class="team-member one-fourth last"> <img src="/static/home/img/perts_img/headshot_greene.jpg" alt="" class="photo">
		<div class="content">
   	    <h4 class="name">Daniel Greene</h4>
			<span class="job-title">Mindset Challenge Coordinator</span>
	  </div><!-- end .content --></div>


<div class="clear"></div>
    
  <p>
	  <a class="button medium" href="programs">Our Programs &raquo;</a>
	  <a class="button medium" href="organizations">Our Partners &raquo;</a>
  </p>

</section>
<aside id="sidebar">
	<div class="widget">
    	<h6 class="widget-title">About Us</h6>
        <ul class="categories">
        	<li><a href="about">What is PERTS?</a></li>
            <li><a href="team">Our Team</a></li>
            <li><a href="organizations">Our Partners</a></li>
            <li><a href="publicity">Publicity</a></li>
        </ul>
    </div>
     <div class="widget">
        	<blockquote>
			<p>Absolutely amazing!!  Empirical, credible, and highly pragmatic.<br /><br />-Community College Educator</p>
		</blockquote>
    </div>
    
</aside>

{% endblock %}