{# Some helpful instructions for users who are having problems with their #}
{# youtube embeds. #}

{% extends "base.html" %}

{% block title %}
Video Troubleshooting
{% endblock %}

{% block content %}

<h1>Video Troubleshooting</h1>

<p>If your videos will not play for you please try the following.</p>

<h2>Check if you are blocked by a firewall</h2>
<p>Try visiting <a href='http://youtube.com'>youtube</a> directly.  If the page does 
not load, then your network is blocking youtube.  Please talk to a network 
administrator or watch the videos on another network, like your home or 
a coffee shop.</p>

<h2>Contact us</h2>
<p>If you can access youtube, but not the videos on PERTS, then you have
discovered some brand new problem (lucky you!).  Please write to us at 
<</b> or call us at <b>(650) 241-9056</b> and we will
help you to solve the problem.</p>

{% endblock %}